/* Mozilla Taiwan special overriding */
pre {
	font-family: "Lucida Console", "Courier New", "Courier", monospace;
}

.dlall div {
	float: left;
	margin: 5px;
	display: block;
	border: 1px solid #aaa;
	padding: 7px;
}
.dlall br {
	clear: both;
}

.download a:hover {
	background: #dfb;
	color: #240;
}

.download a {
	text-decoration: none;
	padding: 1px;
	margin: 0px;
}
.download li {
	padding: 1px;
	margin: 1px;
}

.download a.preselected {
	background: #efd;
	font-weight: bold;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}
.download a.preselected:hover {
	background: #dfe;
	color: red;
	border: 0px;
	border-left: 1px solid #aaa;
	border-top: 1px solid #aaa;
}

a:hover {
	background-color: #eee;
	text-decoration: none;
}
a:visited {
	color: navy;
}
div#firefox-feature div.download{
	width: 17em;
}
/* new logo */
#header h1 a {
		background: transparent url("/images/header_logo2.gif") no-repeat;
		width: 354px;
}

.article {
  font-size: 16px;
  line-height: 150%;
}
.article img {
  margin: 0.5em;
}
.article img.r {
  float: right;
}
.article img.l {
  float: left;
}

#header form #cjk {
	font-size: 90%;
	border:	1px solid #9097A2;
	background: #D9DBE1;
	padding: 2px;
	font-family: georgia,sans-serif;
}

.product-netscape {
	background: url("/images/product-netscape-screen.png") no-repeat;
}

.courier {
	/* this is for showing 'moztw.org' in header. */
	font-family: courier, mono;
}


/* fix up */
.download strong {
	color: #290;
}
a#featurelink { background: none;  }
#firefox-feature li a {
	padding: 1px 0 1px 5px;
	margin-left: 40px;
}

.news .date {
	width: 6em;
}
