@import url(picwall.css);

.row{
  margin-left: -20px;
}

.row:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}

.left{
  margin-left: 20px;
  float: left;
}

.right{
  margin-left: 20px;
  float: right;
}

#foxmosa-games h2, #foxmosa-social h2, #foxmosa-stickers h2 {
  font-size: 32px;
  letter-spacing: -1px;
  line-height: 100%;
  margin: 0 0 12px;
}

#content-area {
  width: 940px;
  margin: 0 auto;
}

#masthead{
  position: relative;
  padding: 72px 0 48px;
}

#masthead #tabzilla{
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

#menu{
  position: absolute;
  right: 180px;
  top: 0;
}

#menu ul{
  overflow: hidden;
}

#menu ul li{
  float: left;
}

#menu a{
  padding: 12px;
  float: left;
  width: 100%;
  height: 100%;
}

#masthead nav li a, #masthead nav li a:link, #masthead nav li a:visited {
  color: #484848;
}

#masthead nav li a:hover{
  text-decoration: underline;
}

#title_area{
  height: 115px;
  position: relative;
  margin-top: 30px;
}

@-webkit-keyframes titleAnimate{
  0% {top: -70px;}
  50% {top: 20px;}
  60% {top: -10px;}
  70% {top: 5px;}
  80% {top: -3px;}
  90% {top: 1px;}
  100% {top: 0px;}
}

@-moz-keyframes titleAnimate{
  0% {top: -70px;}
  50% {top: 20px;}
	60% {top: -10px;}
  70% {top: 5px;}
  80% {top: -3px;}
  90% {top: 1px;}
  100% {top: 0px;}
}

@-o-keyframes titleAnimate{
  0% {top: -70px;}
  50% {top: 20px;}
  60% {top: -10px;}
  70% {top: 5px;}
  80% {top: -3px;}
  90% {top: 1px;}
  100% {top: 0px;}
}

@keyframes titleAnimate{
  0% {top: -70px;}
  50% {top: 20px;}
  60% {top: -10px;}
  70% {top: 5px;}
  80% {top: -3px;}
  90% {top: 1px;}
  100% {top: 0px;}
}

#moztw-link{
  position: absolute;
  top: -105px;
  left: 0;
}

#moztw-link-text{
  font-size: 40px;
  font-weight: bold;
}

#moztw-link a{
  color: #484848;
  text-decoration: none;
}

#moztw-link-english{
  font-size: 19px;
  position: absolute;
  bottom: -29px;
  width: 100px;
  left: 2px;
  letter-spacing: 2px;
  color: #666;
}

#moztw-link-chinese{
  font-size: 17px;
  position: absolute;
  bottom: -28px;
  width: 200px;
  left: 75px;
  letter-spacing: 3px;
  color: #666;
}

#site-title{
  position: absolute;
  left: 50%;
  top: 0;
  letter-spacing: -3px;
  margin: 0 0 .15em -250px;
  padding-left: 3px;
  width: 500px;
  text-align: center;
  -webkit-transition:All .5s ease;
  -moz-transition:All .5s ease;
  -o-transition:All .5s ease;
  transition:All .5s ease;
  -webkit-animation: titleAnimate 1s;
  -moz-animation: titleAnimate 1s;
  -o-animation: titleAnimate 1s;
  animation: titleAnimate 1s;
}

@-webkit-keyframes desAnimate{
  0% {bottom: 20px; opacity: 0;}
  50% {bottom: 20px; opacity: 0;}
  100% {bottom: 0px; opacity 1;}
}

@-moz-keyframes desAnimate{
  0% {bottom: 20px; opacity: 0;}
  50% {bottom: 20px; opacity: 0;}
  100% {bottom: 0px; opacity 1;}
}

@-o-keyframes desAnimate{
  0% {bottom: 20px; opacity: 0;}
  50% {bottom: 20px; opacity: 0;}
  100% {bottom: 0px; opacity 1;}
}

@keyframes desAnimate{
  0% {bottom: 20px; opacity: 0;}
  50% {bottom: 20px; opacity: 0;}
  100% {bottom: 0px; opacity 1;}
}

#site-description{
  position: absolute;
  left: 50%;
  bottom: 0;
  color: #999;
  width: 500px;
  margin-left: -250px;
  text-align: center;
  -webkit-transition:All 1s ease;
  -moz-transition:All 1s ease;
  -o-transition:All 1s ease;
  transition:All 1s ease;
  -webkit-animation: desAnimate 2s;
  -moz-animation: desAnimate 2s;
  -o-animation: desAnimate 2s;
  animation: desAnimate 2s;
}

#title_area:hover #site-title{
  padding-left: 10px;
}

#content_area > section{
  margin-bottom: 60px;
}

.whitebox{
  padding: 20px;
  background: #FFF;
  -ms-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  -o-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

#content_area{
  position: relative;
}

#content_area > section header{
  display: none;
}

#foxmosa-info {
  position: relative;
}

#foxmosa-run{
  position: absolute;
  right: 30px;
  height: 200px;
  width: 680px;
  z-index: 1;
}

@-webkit-keyframes myfirst{
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes myfirst{
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(360deg);}
}

@-o-keyframes myfirst{
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(360deg);}
}

@keyframes myfirst{
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

#earth{
  position: absolute;
  right: 100px;
  top: 160px;
  z-index: 0;
  width: 400px;
  height: 200px;
  overflow: hidden;
}

#earth > img{
  width: 400px;
  height: 400px;
  animation: myfirst 5s;
  -moz-animation: myfirst 5s;
  -webkit-animation: myfirst 5s;
  -o-animation: myfirst 5s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

#foxmosa-avatar{
  width: 150px;
  height: 150px;
  padding: 5px;
  background: #FFF;
  -ms-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  -o-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

#foxmosa-profile{
  margin-left: 40px;
  width: 360px;
}

#foxmosa-profile ul li{
  padding-left: 3em;
  text-indent: -3em;
}

#foxmosa-games{
  height: 50px;
  position: relative;
  margin: 60px 0 !important;
}

#foxmosa-games a.foxmosa-games-logo{
  position: absolute;
  left: 220px;
  top: 50%;
  margin-top: -60px;
  text-indent: -99999px;
  overflow: hidden;
  -ms-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  -o-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

#foxmosa-games a.github{
  float: right;
}

#foxmosa-games a.playthegame{
  float: right;
  margin-right: 20px;
}

#foxmosa-games header{
  display: block !important;
  float: left;
}

#foxmosa-games a.pairslogo{
  background: url(../images/pairslogo.jpg) no-repeat;
  height: 120px;
  width: 120px;
}

#foxmosa-games a.starslogo{
  background: url(../images/starslogo.png);
  height: 120px;
  width: 120px;
  background-position: center;
  background-size: cover;
}

.whitebox,#foxmosa-gallery{
  margin-bottom: 60px;
}

#foxmosa-join{
  min-height: 300px;
  /*background: url(../images/join.png) no-repeat center center !important;*/
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  margin: 0 auto 60px;
  padding: 20px;
}

#foxmosa-join div{
  float: left;
  width: 33%;
  min-width: 290px;
}

#foxmosa-join div h3{
  padding-bottom: 12px;
}

#foxmosa-join p{
  margin-bottom: 10px;
}

#foxmosa-join ol{
  padding: 0;
  margin: 0;
  margin-left: 20px;
}

#foxmosa-stamp{
  overflow: hidden;
}

#foxmosa-stamp iframe{
  border: none;
  width: 100%;
  height: 360px;
  margin: 0 auto;
  overflow: hidden;
}

#foxmosa-desktop div{
  overflow: hidden;
  width: 103%;
  margin-left: -3%;
}

#foxmosa-desktop div img{
  position: relative;
  width: 20%;
  margin-left: 3%;
  padding: 1%;
  background: #FFF;
  height: auto;
  float: left;
}

#foxmosa-social, #foxmosa-stickers{
  overflow: hidden;
  position: relative;
}

#foxmosa-social header, #foxmosa-stickers header{
  display: block !important;
  float: left;
}

#foxmosa-social ul, #foxmosa-stickers ul{
  margin: 0;
  padding: 0;
  float: right;
  overflow: none;
}

#foxmosa-social ul li, #foxmosa-stickers ul li{
  list-style: none;
  float: right;
  margin-left: 20px;
}

#foxmosa-social .news{
  float: left;
  width: 100%;
  margin-top: 20px;
}

#colophon {
  color: #666;
  padding: 40px 0;
  font-size: .875em;
  line-height: 1.285;
  background: white;
  width: 100%;
  margin: 1em 0 0;
}

#colophon p {
  margin-bottom: 10px;
}

#colophon > .row{
  width: 940px;
  margin: 0 auto;
}

.footer-logo{
  width: 300px;
}

.footer-license{
  width: 220px;
  margin-left: 20px;
}

.footer-nav{
  width: 140px;
  margin-left: 20px !important;
}

@media screen and (max-width: 980px), screen and (max-device-width: 980px){
  #content-area {
    width: auto;
  }
  #wrapper {
    /*width: 90%;*/
    margin: 0 auto;
  }

  #colophon .row {
    width: 90%;
  }

  #foxmosa-gallery {
    margin: 0 auto 50px !important;
    width: 470px;
  }

  #foxmosa-join > div {
    width: 100%;
    margin: 0;
  }

  #foxmosa-join > div > img {
    display: block;
    margin: auto;
  }

  #menu {
    width: 100px;
    height: 30px;
    top: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 99999999;
  }

  #menu:before {
    content: 'Menu';
    width: 60%;
    height: 100%;
    right: 5%;
    top: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
  }

  #menu:after {
    content: '\f0ca';
    width: 30%;
    height: 100%;
    left: 5%;
    top: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
    font-family: 'FontAwesome';
  }

  #menu > * {
    display: none;
  }

  #menu.show > * {
    display: block;
  }

  #menu ul {
    margin: 0;
    padding: 0;
    position: absolute;;
    top: 105%;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }

  #menu li {
    float: left;
    width: 100%;
    height; 30px;
    line-height: 30px;
    text-align: center;
    border-bottom: 1px rgba(0, 0, 0, 0.05) solid;
  }

  #menu a {
    padding: 0;
    margin; 0;
    color: #999 !important;
  }
}

@media screen and (max-width: 860px), screen and (max-device-width: 860px){
  #foxmosa-run {
    height: auto;
    width: 500px;
  }
  #earth {
    width: 400px;
    top: 123px;
    right: 20px;
  }
  #foxmosa-games {
    height: 100px;
  }

  #foxmosa-games header, #foxmosa-social header {
    float: none;
  }

  #foxmosa-games a.button.playthegame {
    float: left;
    margin: 0 0 0 20px;
  }

  #foxmosa-games a.button.github {
    float: left;
    margin: 0;
  }

  #foxmosa-games a.foxmosa-games-logo {
    right: 10px;
    left: auto;
  }

  #foxmosa-social ul, #foxmosa-stickers ul {
    float: left;
  }

  #foxmosa-social ul li, #foxmosa-stickers ul li {
    margin: 0 20px 0 0;
  }

  #foxmosa-join {
    background: transparent !important;
    margin-left: 0;
  }

  .footer-logo{
    width: 300px;
  }

  .footer-license{
    width: 100px;
    margin-left: 20px;
  }

  .footer-nav{
    width: 100px;
    margin-left: 20px !important;
  }
}

@media screen and (max-width: 695px), screen and (max-device-width: 695px){
  #menu {
    right: 24px;
    top: 50px;
    left: auto;
  }

  #foxmosa-info {
    height: auto !important;
  }

  #foxmosa-profile {
    float: none;
    width: auto !important;
  }

  #foxmosa-run {
    position: relative;
    float: none;
    width: 150%;
    right: 40%;
  }
  #earth {
    position: relative;
    float: none;
    top: -30px;
    left: 2.6%;
    height: 30vw;
    width: 100%;
    text-align: center;
    box-shadow: inset 0px -10px 11px -10px;
    border-bottom: 1px solid rgba(30,30,30,0.4);
  }
  #earth > img {
    height: auto;
    width: 100%;
  }

  #foxmosa-games {
    text-align: center;
    height: auto;
  }

  #foxmosa-games header {
    text-align: left;
  }

  #foxmosa-games a.button {
    float: none !important;
    margin: 5px 0 !important;
    width: 90%;
  }

  #foxmosa-social ul, #foxmosa-stickers ul {
    float: none;
  }

  #foxmosa-social ul li, #foxmosa-stickers ul li {
    margin: 5px 0;
    float: none;
    text-align: center;
  }

  #foxmosa-social ul li a, #foxmosa-stickers ul li a {
    width: 90%;
  }

  #foxmosa-gallery {
    width: 235px;
  }

  #foxmosa-games a.foxmosa-games-logo {
    display: none;
  }

  #foxmosa-join > div {
    width: 100%;
    margin: 10px 0;
  }
}

@media screen and (max-width: 360px), screen and (max-device-width: 360px){
  #foxmosa-profile {
    padding: 0;
  }
  #moztw-link-text {
    font-size: 24px;
  }

  #moztw-link-english, #moztw-link-chinese {
    display: none !important;
  }
}
