.picwall-grid{
	position: relative;
	float: left;
	margin: 0;
	background: #FFF;
	-ms-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-o-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);

}

.picwall-pic{
	border: 2px #FFF solid;
	position: absolute;
	-ms-box-shadow: inset 0 1px 5px rgba(0,0,0,0.2);
	-o-box-shadow: inset 0 1px 5px rgba(0,0,0,0.2);
	box-shadow: inset 0 1px 5px rgba(0,0,0,0.2);

}
