/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/screen.scss */
body {
  font-size: 4mm;
  line-height: 1.2em;
  font-family: sans-serif;
  color: #1a240c;
  padding: 0;
  background: #89bc40;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  max-width: 640px;
  width: expression(this.clientWidth > 640 ? 640 : auto );
  margin: 0 auto 3em;
}
/* line 22, ../sass/screen.scss */
body a {
  color: inherit;
}
/* line 29, ../sass/screen.scss */
body > header {
  padding-top: 20px;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  font-size: small;
}
/* line 42, ../sass/screen.scss */
body > header div#moztwHeader {
  background: #455372;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #455372), color-stop(100%, #2a3753));
  background-image: -webkit-linear-gradient(#455372, #2a3753);
  background-image: -moz-linear-gradient(#455372, #2a3753);
  background-image: -o-linear-gradient(#455372, #2a3753);
  background-image: linear-gradient(#455372, #2a3753);
  border-radius: 8px;
  height: 3em;
  min-height: 39px;
  padding: 15px 0;
  position: relative;
  max-width: 70em;
  margin: 0 auto 2em;
  line-height: 1.2em;
  text-shadow: none;
}
/* line 55, ../sass/screen.scss */
body > header div#moztwHeader h1 {
  font-size: 2px;
  height: 8px;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  z-index: 100;
}
/* line 63, ../sass/screen.scss */
body > header div#moztwHeader h1 a {
  display: block;
  height: 64px;
  text-decoration: none;
  text-indent: -700em;
  height: 65px;
  width: 354px;
  background: url("../moztw.png") no-repeat scroll 0 0 transparent;
}
/* line 73, ../sass/screen.scss */
body > header div#moztwHeader ul {
  bottom: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0 15px 0 0;
  position: absolute;
  right: 0;
  width: auto;
  z-index: 90;
}
/* line 83, ../sass/screen.scss */
body > header div#moztwHeader li {
  float: right;
  margin: 0 1px 0 0;
  padding: 0;
}
/* line 88, ../sass/screen.scss */
body > header div#moztwHeader ul a {
  background-color: #5F697E;
  background-image: -moz-linear-gradient(center top, #6a748a, #5f697e);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #FFFFFF;
  display: block;
  float: left;
  font-weight: bold;
  padding: 4px 10px 5px;
  text-decoration: none;
}
/* line 100, ../sass/screen.scss */
body > header div#moztwHeader ul a:hover {
  background: none repeat scroll 0 0 #747F96;
  text-shadow: 0 1px 1px #2A3753;
}
/* line 104, ../sass/screen.scss */
body > header div#moztwHeader form {
  margin: 0;
  padding: 12px 20px 0 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  white-space: nowrap;
}
/* line 113, ../sass/screen.scss */
body > header div#moztwHeader form label {
  color: #FFFFFF;
  font-size: 85%;
}
/* line 117, ../sass/screen.scss */
body > header div#moztwHeader form input {
  font-size: 85%;
}
/* line 120, ../sass/screen.scss */
body > header div#moztwHeader form #submit {
  background: none repeat scroll 0 0 #6A7389;
  border-color: #9097A2 #283043 #283043 #9097A2;
  border-right: 1px solid #283043;
  border-style: solid;
  border-width: 1px;
  color: #FFFFFF;
  font-size: 85%;
  padding: 1px 4px;
  font-weight: 700;
  vertical-align: middle;
}
/* line 132, ../sass/screen.scss */
body > header div#moztwHeader form #q {
  background: none repeat scroll 0 0 #D9DBE1;
  border: 1px solid #9097A2;
  font-size: 85%;
  padding: 2px;
  width: 130px;
}
/* line 139, ../sass/screen.scss */
body > header div#moztwHeader form #q:hover, body > header div#moztwHeader form #q:focus {
  background: none repeat scroll 0 0 #FFFFFF;
}
/* line 144, ../sass/screen.scss */
body > header div#moztwHeader {
  width: 257px;
}
/* line 146, ../sass/screen.scss */
body > header div#moztwHeader ul, body > header div#moztwHeader form {
  display: none;
}
/* line 151, ../sass/screen.scss */
body > header a#webmaker img {
  width: 8em;
  border-radius: 8em;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  background: #89bc40;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
/* line 159, ../sass/screen.scss */
body > header a#webmaker img:hover {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
/* line 164, ../sass/screen.scss */
body > header h1 {
  font-size: 1.3em;
  height: 1.2em;
  margin-top: 1em;
}
/* line 170, ../sass/screen.scss */
body > header p {
  margin: 1em 0;
  height: 2.4em;
}
/* line 176, ../sass/screen.scss */
body > header nav ul {
  display: block;
  padding: 0.5em 0;
}
/* line 179, ../sass/screen.scss */
body > header nav ul li {
  display: inline;
  margin: 0 0.5em;
}
/* line 188, ../sass/screen.scss */
body div#content {
  margin-top: 24em;
  padding: 1em;
}
/* line 191, ../sass/screen.scss */
body div#content article {
  padding: 2em 0 0;
}
/* line 193, ../sass/screen.scss */
body div#content article header {
  margin: 0.5em 0;
}
/* line 194, ../sass/screen.scss */
body div#content article header h2 {
  font-size: 1.2em;
}
/* line 199, ../sass/screen.scss */
body div#content article p {
  margin: 1em 0;
  text-align: justify;
  text-justify: inter-ideograph;
}
/* line 207, ../sass/screen.scss */
body div.geo {
  display: none;
}
/* line 211, ../sass/screen.scss */
body div#map {
  height: 20em;
  margin: 0 -1em;
}
/* line 216, ../sass/screen.scss */
body footer {
  clear: both;
  padding-top: 3em;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
}
/* line 222, ../sass/screen.scss */
body footer img {
  vertical-align: middle;
}
/* line 225, ../sass/screen.scss */
body footer ul#bn {
  margin-bottom: 0.8em;
}
/* line 228, ../sass/screen.scss */
body footer a {
  white-space: nowrap;
}
/* line 231, ../sass/screen.scss */
body footer a.subfoot {
  display: block;
}

@media not screen and (min-width: 960px) {
  /* line 238, ../sass/screen.scss */
  body > header.fixed {
    position: fixed;
    padding-top: 0;
  }
  /* line 241, ../sass/screen.scss */
  body > header.fixed > * {
    display: none !important;
  }
  /* line 244, ../sass/screen.scss */
  body > header.fixed nav {
    display: block !important;
  }
}
@media screen and (min-width: 960px) {
  /* line 251, ../sass/screen.scss */
  body {
    width: auto;
    max-width: none;
  }
  /* line 254, ../sass/screen.scss */
  body > header {
    position: static;
    padding-bottom: 0.5em;
  }
  /* line 257, ../sass/screen.scss */
  body > header div#moztwHeader {
    width: auto;
    max-width: 70em;
  }
  /* line 260, ../sass/screen.scss */
  body > header div#moztwHeader ul, body > header div#moztwHeader form {
    display: block;
  }
  /* line 264, ../sass/screen.scss */
  body > header a#webmaker img {
    margin-right: 20em;
  }
  /* line 267, ../sass/screen.scss */
  body > header h1 {
    margin-top: -6em;
  }
  /* line 270, ../sass/screen.scss */
  body > header nav {
    display: none;
  }
  /* line 274, ../sass/screen.scss */
  body div#content {
    width: 930px;
    max-width: 930px;
    margin: 0 auto 0;
    padding: 0;
  }
  /* line 280, ../sass/screen.scss */
  body div#content #introduction, body div#content #location, body div#content #coop {
    width: 450px;
  }
  /* line 283, ../sass/screen.scss */
  body div#content #introduction, body div#content #coop {
    float: left;
  }
  /* line 286, ../sass/screen.scss */
  body div#content #location {
    float: right;
  }
  /* line 288, ../sass/screen.scss */
  body div#content #location div#map {
    height: 300px;
    margin: 0;
  }
  /* line 295, ../sass/screen.scss */
  body footer li {
    display: inline;
  }
  /* line 298, ../sass/screen.scss */
  body footer a.subfoot {
    display: inline;
  }
}
