/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/screen.scss */
body {
  font-size: 4mm;
  line-height: 1.2em;
  font-family: sans-serif;
  color: #1a240c;
  padding: 0;
  background: #89bc40;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  max-width: 640px;
  width: expression(this.clientWidth > 640 ? 640 : auto );
  margin: 0 auto;
}
/* line 22, ../sass/screen.scss */
body a {
  color: inherit;
}
/* line 29, ../sass/screen.scss */
body > header {
  padding-top: 1.2em;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
}
/* line 41, ../sass/screen.scss */
body > header img {
  width: 8em;
  border-radius: 8em;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  background: #89bc40;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
/* line 49, ../sass/screen.scss */
body > header img:hover {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
/* line 54, ../sass/screen.scss */
body > header h1 {
  font-size: 1.3em;
  height: 1.2em;
  margin-top: 1em;
}
/* line 60, ../sass/screen.scss */
body > header p {
  margin: 1em 0;
  height: 2.4em;
}
/* line 66, ../sass/screen.scss */
body > header nav ul {
  display: block;
  padding: 0.5em 0;
}
/* line 68, ../sass/screen.scss */
body > header nav ul li {
  display: inline;
  margin: 0 0.5em;
}
/* line 76, ../sass/screen.scss */
body > header.fixed {
  position: fixed;
  padding-top: 0;
}
/* line 79, ../sass/screen.scss */
body > header.fixed > * {
  display: none;
}
/* line 82, ../sass/screen.scss */
body > header.fixed nav {
  display: block;
}
/* line 88, ../sass/screen.scss */
body div#content {
  margin-top: 18em;
  padding: 1em;
}
/* line 91, ../sass/screen.scss */
body div#content article {
  padding: 2em 0 0;
}
/* line 93, ../sass/screen.scss */
body div#content article header {
  margin: 0.5em 0;
}
/* line 94, ../sass/screen.scss */
body div#content article header h2 {
  font-size: 1.2em;
}
/* line 99, ../sass/screen.scss */
body div#content article p {
  margin: 1em 0;
  text-align: justify;
  text-justify: inter-ideograph;
}
/* line 107, ../sass/screen.scss */
body div.geo {
  display: none;
}
/* line 111, ../sass/screen.scss */
body div#map {
  height: 20em;
  margin: 0 -1em;
}

@media screen and (min-width: 960px) and (min-height: 600px) {
  /* line 118, ../sass/screen.scss */
  body {
    width: auto;
    max-width: none;
  }
  /* line 121, ../sass/screen.scss */
  body > header {
    position: static;
    padding-bottom: 0.5em;
  }
  /* line 124, ../sass/screen.scss */
  body > header img {
    position: absolute;
    margin-left: -15em;
  }
  /* line 128, ../sass/screen.scss */
  body > header h1 {
    margin-top: 1em;
  }
  /* line 131, ../sass/screen.scss */
  body > header nav {
    display: none;
  }
  /* line 135, ../sass/screen.scss */
  body div#content {
    width: 940px;
    max-width: 940px;
    margin: 0 auto 0;
    padding: 0;
  }
  /* line 141, ../sass/screen.scss */
  body div#content #introduction, body div#content #location, body div#content #coop {
    width: 450px;
  }
  /* line 144, ../sass/screen.scss */
  body div#content #introduction, body div#content #coop {
    float: left;
  }
  /* line 147, ../sass/screen.scss */
  body div#content #location {
    float: right;
  }
  /* line 149, ../sass/screen.scss */
  body div#content #location div#map {
    height: 300px;
    margin: 0;
  }
}
