@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/screen.scss */
body {
  font-size: 16px;
  line-height: 1.2em;
  font-family: sans-serif;
  color: #283713;
  padding: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  /* tiny grid by Ant Ekşiler http://www.turkhitbox.com/ used under Creative Commons - Attribution */
  background: url("../whitey.png") #f3f3f3;
  -webkit-background-size: 327px 327px;
  -moz-background-size: 327px 327px;
  -o-background-size: 327px 327px;
  background-size: 327px 327px;
  max-width: 940px;
  width: expression(this.clientWidth > 940 ? 940 : auto );
  margin: 0 auto 3em;
}
/* line 21, ../sass/screen.scss */
body a {
  color: #527026;
}
/* line 33, ../sass/screen.scss */
body > header {
  padding-top: 20px;
  background: #89bc40;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
}
/* line 46, ../sass/screen.scss */
body > header a {
  color: inherit;
}
/* line 50, ../sass/screen.scss */
body > header div#moztwHeader {
  background: #455372;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #455372), color-stop(100%, #2a3753));
  background-image: -webkit-linear-gradient(#455372, #2a3753);
  background-image: -moz-linear-gradient(#455372, #2a3753);
  background-image: -o-linear-gradient(#455372, #2a3753);
  background-image: linear-gradient(#455372, #2a3753);
  border-radius: 8px;
  min-height: 39px;
  padding: 15px 0;
  position: relative;
  max-width: 70em;
  margin: 0 auto 2em;
  line-height: 1.2em;
  text-shadow: none;
  font-size: small;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
/* line 65, ../sass/screen.scss */
body > header div#moztwHeader h1 {
  font-size: 2px;
  height: 8px;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  z-index: 100;
}
/* line 73, ../sass/screen.scss */
body > header div#moztwHeader h1 a {
  display: block;
  height: 64px;
  text-decoration: none;
  text-indent: -700em;
  height: 65px;
  width: 354px;
  background: url("../moztw.png") no-repeat scroll 0 0 transparent;
}
/* line 83, ../sass/screen.scss */
body > header div#moztwHeader ul {
  bottom: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0 15px 0 0;
  position: absolute;
  right: 0;
  width: auto;
  z-index: 90;
}
/* line 93, ../sass/screen.scss */
body > header div#moztwHeader li {
  float: right;
  margin: 0 1px 0 0;
  padding: 0;
}
/* line 98, ../sass/screen.scss */
body > header div#moztwHeader ul a {
  background-color: #5F697E;
  background-image: -moz-linear-gradient(center top, #6a748a, #5f697e);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #FFFFFF;
  display: block;
  float: left;
  font-weight: bold;
  padding: 4px 10px 5px;
  text-decoration: none;
}
/* line 110, ../sass/screen.scss */
body > header div#moztwHeader ul a:hover {
  background: none repeat scroll 0 0 #747F96;
  text-shadow: 0 1px 1px #2A3753;
}
/* line 114, ../sass/screen.scss */
body > header div#moztwHeader form {
  margin: 0;
  padding: 12px 20px 0 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  white-space: nowrap;
}
/* line 123, ../sass/screen.scss */
body > header div#moztwHeader form label {
  color: #FFFFFF;
  font-size: 85%;
}
/* line 127, ../sass/screen.scss */
body > header div#moztwHeader form input {
  font-size: 85%;
}
/* line 130, ../sass/screen.scss */
body > header div#moztwHeader form #submit {
  background: none repeat scroll 0 0 #6A7389;
  border-color: #9097A2 #283043 #283043 #9097A2;
  border-right: 1px solid #283043;
  border-style: solid;
  border-width: 1px;
  color: #FFFFFF;
  font-size: 85%;
  padding: 1px 4px;
  font-weight: 700;
  vertical-align: middle;
}
/* line 142, ../sass/screen.scss */
body > header div#moztwHeader form #q {
  background: none repeat scroll 0 0 #D9DBE1;
  border: 1px solid #9097A2;
  font-size: 85%;
  padding: 2px;
  width: 130px;
}
/* line 149, ../sass/screen.scss */
body > header div#moztwHeader form #q:hover, body > header div#moztwHeader form #q:focus {
  background: none repeat scroll 0 0 #FFFFFF;
}
/* line 154, ../sass/screen.scss */
body > header div#moztwHeader {
  width: 257px;
  overflow: hidden;
}
/* line 157, ../sass/screen.scss */
body > header div#moztwHeader ul, body > header div#moztwHeader form {
  display: none;
}
/* line 162, ../sass/screen.scss */
body > header > h1 {
  font-weight: 700;
  font-size: 1.3em;
  text-transform: uppercase;
}
/* line 168, ../sass/screen.scss */
body > header div.header-content {
  //margin: 1em 0;
  //height: 2.4em;
}
/* line 171, ../sass/screen.scss */
body > header div.header-content .location {
  display: none;
}
/* line 177, ../sass/screen.scss */
body > header nav ul {
  display: block;
  padding: 0.5em 0;
}
/* line 180, ../sass/screen.scss */
body > header nav ul li {
  display: inline;
  margin: 0 0.5em;
  white-space: nowrap;
}
/* line 188, ../sass/screen.scss */
body > header.fixed {
  position: fixed;
  padding-top: 0;
  height: auto;
}
/* line 192, ../sass/screen.scss */
body > header.fixed > * {
  display: none !important;
}
/* line 195, ../sass/screen.scss */
body > header.fixed nav {
  display: block !important;
}
/* line 201, ../sass/screen.scss */
body div#content {
  margin-top: 13em;
  padding: 0;
}
/* line 204, ../sass/screen.scss */
body div#content article {
  border-bottom: 2px solid #aaa;
  padding: 2em 1em 1em;
}
/* line 207, ../sass/screen.scss */
body div#content article header {
  margin: 1em 0 2em;
}
/* line 208, ../sass/screen.scss */
body div#content article header h2 {
  font-size: 1.3em;
  font-weight: 700;
}
/* line 214, ../sass/screen.scss */
body div#content article p {
  margin: 1em 0;
  text-align: justify;
  text-justify: inter-ideograph;
}
/* line 220, ../sass/screen.scss */
body div#content article.logos h3 {
  font-size: 1.2em;
  font-weight: 700;
  margin: 2em 0 0;
  clear: both;
}
/* line 226, ../sass/screen.scss */
body div#content article.logos p.logo {
  display: none;
}
/* line 230, ../sass/screen.scss */
body div#content article .registrano-blog-badge {
  display: none;
}
/* line 233, ../sass/screen.scss */
body div#content article .fallback-register-button {
  display: block;
}
/* line 237, ../sass/screen.scss */
body div#content #mozGallery {
  margin: 0 -1em;
}
/* line 239, ../sass/screen.scss */
body div#content #mozGallery .photoList {
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-width: 2px 0;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  margin: 0 0 0.5em;
  padding: 0.5em 1em;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
/* line 247, ../sass/screen.scss */
body div#content #mozGallery .photoList li {
  display: inline;
  white-space: nowrap;
  margin: 0 0.2em;
}
/* line 251, ../sass/screen.scss */
body div#content #mozGallery .photoList li img {
  vertical-align: middle;
  width: 45px;
  height: 45px;
  background: url("../loading.gif") center center no-repeat;
  background-size: 16px;
}
/* line 260, ../sass/screen.scss */
body div#content #mozGallery .link {
  display: block;
  text-align: center;
  background: url("../loading.gif") center center no-repeat;
  background-size: 16px;
  height: 240px;
}
/* line 265, ../sass/screen.scss */
body div#content #mozGallery .link img {
  max-height: 240px;
}
/* line 270, ../sass/screen.scss */
body div#content #mozGallery .attribution {
  display: block;
  text-align: center;
}
/* line 277, ../sass/screen.scss */
body div.geo {
  display: none;
}
/* line 281, ../sass/screen.scss */
body div#map {
  height: 20em;
  margin: 0 -1em;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-width: 2px 0;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
/* line 289, ../sass/screen.scss */
body footer {
  clear: both;
  padding-top: 3em;
  line-height: 16px;
  font-size: 0.8em;
  line-height: 1.2em;
  text-align: center;
}
/* line 296, ../sass/screen.scss */
body footer img {
  vertical-align: middle;
}
/* line 299, ../sass/screen.scss */
body footer ul#bn {
  margin-bottom: 0.8em;
}
/* line 302, ../sass/screen.scss */
body footer a {
  white-space: nowrap;
}
/* line 305, ../sass/screen.scss */
body footer a.subfoot {
  display: block;
}
/* line 310, ../sass/screen.scss */
body .registrano-blog-badge {
  margin-bottom: 20px;
}
/* line 312, ../sass/screen.scss */
body .registrano-blog-badge div {
  margin: 0;
  padding: 0;
}
/* line 316, ../sass/screen.scss */
body .registrano-blog-badge h5 {
  display: none;
}
/* line 319, ../sass/screen.scss */
body .registrano-blog-badge .event-date {
  display: none;
}
/* line 322, ../sass/screen.scss */
body .registrano-blog-badge .event-attendees-list {
  list-style: none;
  margin: 0 0 0 3px;
  padding: 0;
}
/* line 326, ../sass/screen.scss */
body .registrano-blog-badge .event-attendees-list li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}
/* line 331, ../sass/screen.scss */
body .registrano-blog-badge .event-attendees-list li img {
  margin: 0 2px 2px;
  padding: 0;
  display: inline;
  width: 32px;
  height: 32px;
  border: 1px solid #eee;
}
/* line 342, ../sass/screen.scss */
body .event-link {
  text-align: center; margin: 0 0 0 0; padding: 5px; 
  background: #338833; display: inline-block; text-decoration: 
  none; color: #fff; -webkit-border-radius: 5px; -moz-border-radius: 
  5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius:
  5px; width: 220px;
}
/* line 352, ../sass/screen.scss */
body .event-link:hover {
  background: #fffc20;
  color: #222;
}

@media screen and (min-width: 640px) {
  /* line 360, ../sass/screen.scss */
  body {
    font-size: 18px;
    line-height: 1.25em;
  }
  /* line 366, ../sass/screen.scss */
  body div#content article.logos h3, body div#content article.logos p {
    margin-left: 240px;
  }
  /* line 369, ../sass/screen.scss */
  body div#content article.logos p.logo {
    display: block;
    margin-left: 0;
    float: left;
    width: 220px;
    text-align: right;
  }
  /* line 376, ../sass/screen.scss */
  body div#content article.logos p.logo img {
    max-width: 220px;
    max-height: 136px;
  }
  /* line 381, ../sass/screen.scss */
  body div#content article.logos:after {
    content: '';
    display: block;
    clear: both;
  }
  /* line 387, ../sass/screen.scss */
  body div#content article.logos #map {
    border-width: 3px 0;
  }
  /* line 392, ../sass/screen.scss */
  body div#content article .registrano-blog-badge {
    display: block;
  }
  /* line 395, ../sass/screen.scss */
  body div#content article .fallback-register-button {
    display: none;
  }
  /* line 401, ../sass/screen.scss */
  body div#content #mozGallery .photoList li img {
    width: 70px;
    height: 70px;
  }
  /* line 406, ../sass/screen.scss */
  body div#content #mozGallery .link {
    height: 480px;
  }
  /* line 407, ../sass/screen.scss */
  body div#content #mozGallery .link img {
    max-height: 480px;
  }
}
@media screen and (min-width: 960px) {
  /* line 418, ../sass/screen.scss */
  body {
    font-size: 20px;
    line-height: 1.3em;
  }
  /* line 421, ../sass/screen.scss */
  body > header {
    //background: url("https://s3.amazonaws.com/registrano/upload_images/9077/Firefox_2_campus_tour.png") center top no-repeat ;
  }
  /* line 424, ../sass/screen.scss */
  body > header div#moztwHeader {
    width: auto;
    max-width: 70em;
  }
  /* line 427, ../sass/screen.scss */
  body > header div#moztwHeader ul, body > header div#moztwHeader form {
    display: block;
  }
  /* line 431, ../sass/screen.scss */
  body > header a#webmaker img {
    margin-right: 24em;
  }
  /* line 434, ../sass/screen.scss */
  body > header > h1 {
    display: none;
  }
  /* line 437, ../sass/screen.scss */
  body > header div.header-content {
    //margin-top: 350px;
  }
  /* line 441, ../sass/screen.scss */
  body div#content {
    padding: 0;
  }
  /* line 445, ../sass/screen.scss */
  body div#content div#map {
    height: 480px;
    margin: 0;
    border-radius: 0.6em;
    border-width: 5px;
  }
  /* line 451, ../sass/screen.scss */
  body div#content #mozGallery {
    margin: 0;
  }
  /* line 453, ../sass/screen.scss */
  body div#content #mozGallery .photoList {
    padding: 0.5em 0.1em;
    border-radius: 0.6em;
    border-width: 5px;
  }
  /* line 457, ../sass/screen.scss */
  body div#content #mozGallery .photoList li img {
    width: 90px;
    height: 90px;
  }
  /* line 465, ../sass/screen.scss */
  body footer li {
    display: inline;
  }
  /* line 468, ../sass/screen.scss */
  body footer a.subfoot {
    display: inline;
  }
}
