[submodule "events/blackout"]
	path = events/blackout
	url = https://github.com/moztw/TW-Error451-Blackout.git
[submodule "foxmosa/game/pairs"]
	path = foxmosa/game/pairs
	url = https://github.com/moztw/browser-pairs.git
[submodule "foxmosa/game/stars"]
	path = foxmosa/game/stars
	url = https://github.com/moztw/star-pusher.git
[submodule "contribute/asknot"]
	path = contribute/asknot
	url = https://github.com/jdm/asknot.git
