Options +MultiViews -Indexes
AddType video/ogg .ogv
AddType video/mp4 .mp4
AddType video/webm .webm
AddType text/rdf+n3 .n3  #It's timbl's fault that this is not yet standardized

SSILegacyExprParser on

Redirect permanent /firefox-new /firefox
Redirect permanent /firefox/release /firefox/releases
Redirect permanent /events/sfd2012 /events/code-rush
Redirect permanent /events/fxu12rp /events/furp
Redirect permanent /telegram /community/telegram/
Redirect permanent /tg /community/telegram/
