<?php

class config
{
	static $dbms_host = 		"mysql.sample.net";
	static $dbms_port = 		"";
	static $dbms_database = 	"lumberjack";
	static $dbms_user = 		"lumberjack_user";
	static $dbms_pass = 		"lumberjack_pass";
	
	static $default_channel =	"logbot_test";
	static $default_number_of_lines = 50;

	static $timezone = 		"America/Vancouver";

	static function get_db()
	{
		return new lumberjack_db( config::$dbms_host, config::$dbms_port, config::$dbms_database, config::$dbms_user, config::$dbms_pass, config::$timezone );
	}
}


?>
