container-width = 940px
text-color = #333

/** grids **/
grid-width = 60px
grid-margin = 20px

/** colors **/
color-mozilla-from = #D7D3C8
color-mozilla-to = #F6F4EC

color-firefox-from = #CAE1F4
color-firefox-to = #EEEEEE

color-dark-grey-from = #424F5A
color-dark-gery-to = #6A7B86

color-light-grey-from = #D4DDE4
color-light-grey-to = #EAEFF2

color-aurora-from = #331E54
color-aurora-to = #000000

color-nightly-from = #002147
color-nightly-to = #000000

color-default-link = #0095DD
color-hover-link = #00539F

color-orange = #eb7526

color-facebook = #3b5998
color-plus = #dd4b39
color-tumblr = #34526f

/** header **/
header-height = 36px
header-font-size = 14px

/** key-point **/
key-point-height = 300px
key-point-padding = 10px
