/* 1) Main ********************************************************************** */

body {
	margin: 0 auto 0 auto;
	color: #333;
	line-height: 140%;
	font-size: 0.9em;

}

body, td, th, h3, input { /* redundant rules for bad browsers  */
	font-family: verdana, sans-serif;
	voice-family: "\"}\"";
	voice-family: inherit;
}

#container {
	width: 100%;
	margin: 0 auto;
	min-width: 770px;
	max-width: 770px;
}
#page {
	padding: 2.15em 0 0 0;
}
#content {
	margin: 0 0 0 0;
	/* background: url(/images/page-background.gif) repeat-x top left; */
}

#wrapper-mainbar {
	width: 100%;

}

/* 2) Links********************************************************************** */

a:link { color: #0033aa; }
a:visited { color: #66A; }

a:hover { color: #333; }
a:active { color: #000; }



/* 3) Mozilla ******************************************************************* */

#mozilla-com {
	position: relative;
	height: 25px;
}
#mozilla-com a {
	position: absolute;
	right: 0; 
	top: 0;
	display: block;
	width: 110px; 
	height: 25px;
	background: url(/images/mozilla-com.gif) no-repeat;
	text-decoration: none;
	text-indent: -5000em;
}

/* 4) Header ******************************************************************** */

#header {
	clear: both;
	position: relative;
	margin: 10px 0 0 0;
	height: 10px;
}

#header h1 {
	position: absolute;
	top: 0; 
	left: 0;
	margin: 0;
}
#header h1 a,#header h1 a:hover {
	display: block;
	width: 481px; height: 38px;
	background: url(/images/title.gif) no-repeat;
	font-size: 1px;
	text-indent: -7000em;
	text-decoration: none;
}

#header form {
	position: absolute;
	top: 8px; 
	right: 0;
	font-family: tahoma, arial, sans-serif;
	font-size: 85%;
}
#header form label {
	font-weight: bold;
}
#header form .searchButton, #submit {
	font-size: 100%;
	padding: 1px;
	font-family: tahoma, arial, sans-serif;
}
#header form #searchInput, #s {
	width: 90px;
	font-size: 100%;
	font-weight: normal;
	border:	1px solid #9097A2;
	padding: 2px;
	font-family: tahoma, arial, sans-serif;
}

#pagesplit {
	width: 100%;
	}

#pageleft {
	float: left;
	width: 80%;
	}

#pageright {
	position:relative;
	float: right;
	top: 40px;
	width: 150px;
	
	}
#pageleft-testimonials {
	float: left;
	width: 200px;
	}

#pagecenter-testimonials {
	padding-left: 30px;
	position:relative;
	float:left;
	width: 350px;
	
	}
	#pagerules-testimonials {
	padding-left: 0px;
	position:relative;
	float:left;
	width: 550px;
	
	}
	#pageright-testimonials {
	position:relative;
	float: right;
	width: 20%;
	
	}
	

/* Footer ****************************************************** */
#footer {
	clear: both;
	margin: 10px 10px 0 auto;
	width: auto;
	text-align: center;
	font-size: 0.8em;
}
#footer ul {
	margin: 0;
	padding: 0;
}
#footer li {
	display: inline;
	list-style: none;
	padding-left: 5px;
	padding-right: 5px;
}
#footer #stickers {
	padding-top: 20px;
}
#footer #stickers div {
	display: inline;
}
#footer #stickers img {
	border: none;
}
	
	

/* 5) Navigation **************************************************************** */

#navigation {
	margin: 0;
	padding: 0;
	background: #1e4176 url(/images/navigation-background.png) repeat-x bottom right; 
	height: 85px;
}
#navigation div#bar {
	padding: 0; 
	margin: 0;
	/*background: url(/images/firefox-flicks-header.png) no-repeat top left; */
	height: 85px; 
	white-space: nowrap; 
}
#navigation div#bar div {
	position: relative;
	padding: 0; 
	margin: 0;
	background: url(/images/navigation-top-left.gif) no-repeat top left; 
	height: 85px; 
}
#navigation div#bar div {
	position: relative;
	padding: 0; 
	margin: 0;
	background: url(/images/navigation-top-right.gif) no-repeat top right; 
	height: 85px; 
}
#navigation #contenttypes {
	position: absolute;
	bottom: 0; 
	left: 0;
	right: 10px;
	margin: 0; 
	padding: 0 0 0 0.7em;
	list-style-type: none;
	background: url(/images/navigation-bottom-left.gif) no-repeat bottom left; 
}
#navigation #contenttypes li {
	margin: 0 2px 0 0; padding: 0; 
	float: right;
	background-image: url(/images/tab-right.gif);
	background-position: top right;
	background-repeat: no-repeat;
	height: 1.7em;
}
#navigation #contenttypes li.selected {
	background-image: url(/images/tab-right-selected.gif);
}
#navigation #contenttypes li a {
	display: block;
	font-family: verdana, arial, sans-serif;
	text-decoration: none;
	font-size: 85%;
	font-weight: bold;
	color: #fff;
	height: 2em;
	line-height: 2em;
	background-image: url(/images/tab-left.gif);
	background-position: top left;
	background-repeat: no-repeat;
	padding: 0px 6px;
	_width: 1%;
}
#navigation #contenttypes li.selected a {
	color: #003366;
	background-image: url(/images/tab-left-selected.gif);
}

#navigation #personal {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0; 
	padding: 0 0.4em 0 0;
	height: 1.8em;
	list-style-type: none;
	background: url(/images/navigation-bottom-right.gif) no-repeat bottom right; 
}
#navigation #personal li {
	margin: 0 4px;
	padding: 0;
	float: left;
	line-height: 2em;
}
#navigation #personal a {
	font-family: tahoma, arial, sans-serif;
	font-size: 80%;
	font-weight: bold;
	color: #fff;
	display: block;
	text-decoration: none;
	margin: 0;
	_width: 1%;
}
#navigation #personal a:hover {
	text-decoration: underline;
}

/* 6) Sidebar ******************************************************************* */
/*
#sidebar {
	position: absolute;
	top: 160px;
	right: 30px;
	background: #FFF;
	width: 210px;
	line-height: 120%;
}
#sidebar h3 {
	font-weight: bold;
	font-size: 0.9em;
	margin: 1em 0 0.3em;
}
#sidebar h3:first-child {
	margin: 0 0 0.3em;
}
#sidebar ul {
	margin: 0;
	padding: 0;
}
#sidebar p,
#sidebar li {
	font-size: 0.85em;
	margin: 0 0 0 2em;
	padding: 0;
}
#sidebar li a:hover {
	text-decoration: underline;
}
#sidebar p {
	margin-bottom: 6px;
}
#sidebar p:last-child {
	margin-bottom: 0;
}
*/
/* 7) Related ******************************************************************* */

div#related {
	background: #eff8ce url(/images/box-yellow-bottom.gif) no-repeat bottom left;
	margin: 0 0 16px 0;
}
div#related div {
	background: url(/images/box-yellow-top.gif) no-repeat top left;
	padding: 8px;
}
div#related h3 {
	color: #036;
}
div#related li {
	list-style-image: url(/images/box-yellow-arrow.gif);
	color: #999;
}
div#related a {
	color: #03a;
	text-decoration: none;
}

/* 6a) Mainbar ******************************************************************* */

#mainbar1 {
	float:left;
	top: 362px;
	background: #FFF;
	width: 48%;
	line-height: 120%;
}
#mainbar1 h3 {
	font-weight: bold;
	font-size: 0.9em;
	margin: 1em 0 0.3em;
}
#mainbar1 h3:first-child {
	margin: 0 0 0.3em;
}
#mainbar1 ul {
	margin: 0;
	padding: 0;
}
#mainbar1 p,
#mainbar1 li {
	font-size: 0.85em;
	margin: 0 0 0 2em;
	padding: 0;
}
#mainbar1 li a:hover {
	text-decoration: underline;
}
#mainbar1 p {
	margin-bottom: 6px;
}
#mainbar1 p:last-child {
	margin-bottom: 0;
}


#mainbar2 {
	float:right;
	top: 458px;
	background: #FFF;
	width: 48%;
	line-height: 120%;
	
}
#mainbar2 h3 {
	font-weight: bold;
	font-size: 0.9em;
	margin: 1em 0 0.3em;
}
#mainbar2 h3:first-child {
	margin: 0 0 0.3em;
}
#mainbar2 ul {
	margin: 0;
	padding: 0;
}
#mainbar2 p,
#mainbar2 li {
	font-size: 0.85em;
	margin: 0 0 0 2em;
	padding: 0;
}
#mainbar2 li a:hover {
	text-decoration: underline;
}
#mainbar2 p {
	margin-bottom: 6px;
}
#mainbar2 p:last-child {
	margin-bottom: 0;
}
/* 7a) green-box  *******************************************************************  */

div#greenbox {
	background: #CDF2AD; /* url(/images/box-green-btm_left.gif) no-repeat bottom left; */
	margin: 0 0 30px 0;
	padding: 10px;
	min-height: 450px;
}


/*div#greenbox div {
	background: url(/images/box-green-top_left.gif) no-repeat top left;
	padding: 8px;
} 
div#greenbox div {
	background: url(/images/box-green-btm_right.gif) no-repeat bottom right;
	padding: 8px;
}
div#greenbox div {
	background: url(/images/box-green-top_right.gif) no-repeat top right;
	padding: 8px;
}*/
div#greenbox h3 {
	color: #036;
}
div#greenbox li {
	list-style-image: url(/images/box-green-bullet.gif);
	color: #999;
}
div#greenbox a {
	color: #03a;
	text-decoration: none;
}


/* 8) Pagetools ***************************************************************** */

div.pagetools {
	background: #e6e6e6 url(/images/box-gray-bottom.gif) no-repeat bottom left;
	margin: 0 0 16px;
}
div.pagetools div {
	background: url(/images/box-gray-top.gif) no-repeat top left;
	padding: 8px;
}
div.pagetools h3 {
	color: #666;
}
div.pagetools a {
	color: #666;
	text-decoration: none;
}
div.pagetools .new a {
	color: #ba0000;
}

/* 9) Breadcrumbs**************************************************************** */

#breadcrumbs {
	color: #888;
	text-decoration: none;
	margin: 11px 0 0 0; padding: 0;
	font-size: 0.85em;
	font-weight: bold;
	width: 100%;
	clear: both;
}
#breadcrumbs ul {
	margin: 0; padding: 0;
	display: block;
}
#breadcrumbs li {
	float: left;
	padding: 0; 
	margin-top: 0;
	list-style-type: none;
}
#breadcrumbs a,
#breadcrumbs span {
	color: #888;
	text-decoration: none;
/*	background-image: url(/images/breadcrumbs.gif);  
	background-repeat: no-repeat;
	background-position: center left;*/
	padding: 0 6px 0 12px;
}
#breadcrumbs:first-child a {
	background-image: none;
	padding: 0 6px 0 0;
}
#breadcrumbs a:hover {
	text-decoration: underline;
}
#breadcrumbs li span {
	color: #3f5d89;
}

/* ****************************************************************************** */

.skipLink {
	position: absolute;
	left: -1200px;
	width: 990px;
}

.hide {
	display: none;
}

#printheader {
	display: none;
}
