#content {
	margin: 0 0 0 0;
}
#page {
	padding: 0;
}
/* 1) Posts ********************************************************************* */

.post {
	/*background: url(../images/page-background.gif) repeat-x top left;*/
	margin: 0 0 0 0;
	padding: 2em 0 2em 0;
}
.post small {
	float: right;
	font-size: 0.7em;
	color: #999;
}
.post h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #036;
	margin: 0;
}
.post h2 a {
	color: #036;
	text-decoration: none;
}
.post .entry {
	font-size: 0.95em;
}
.post .postmetadata {
	font-size: 0.8em;
	color: #999;
}
.post .postmetadata a {
	color: #999;
}

/* Previous and Next Links ****************************************************** */
#prevnextlinks {
	width: 100%;
	margin: 0 0 10px 0;
}
#prevnextlinks td {
	font-size: 0.85em;
	font-weight: bold;
	width: 50%;
	padding: 0;
}
#prevnextlinks td#prev {
	text-align: left;
}
#prevnextlinks td#next {
	text-align: right;
}


/* 2) Comment form ************************************************************** */

#commentform {
	background: #fff url(../images/box-white-bottom-right.gif) no-repeat bottom right;
	margin: 0 0 2em 0;
}

#commentform div {
	background: url(../images/box-white-bottom-left.gif) no-repeat bottom left;
}

#commentform div div {
	background: url(../images/box-white-top-right.gif) no-repeat top right;
}

#commentform div div form {
	background: url(../images/box-white-top-left.gif) no-repeat top left;
	margin: 0; padding: 10px;
}
#commentform h3 {
	margin: 0;
	color: #888;
	font-size: 0.9em;
}
#commentform p {
	font-size: 0.9em;
}
#commentform p:last-child {
	margin-bottom: 0;
}
#commentform label {
	font-size: 0.95em;
}
#commentform textarea {
	width: 99%;
}
#commentform input[type=text],
#commentform textarea {
	font-family: verdana, sans-serif;
	font-size: 0.95em;
	border: 1px solid #ddd;
	padding: 4px;
}
#commentform input#submit {
	font-size: 0.95em;
}



/* 3) Comment list ************************************************************** */

h3#comments {
	color: #036;
	font-size: 0.9em;
}

ol.commentlist {
	margin: 0 0 3em;
	padding: 1em 0 0 1.5em;
	border-top: 1px solid #ddd;
}
em.moderation {
	font-size: 0.8em;
	color: #999;
}
p.commentmetadata {
	font-size: 0.8em;
	color: #999;
	margin: -1em 0 0;
	text-align: right;
}
p.commentmetadata a {
	color: #999;
}



/* 4) More ********************************************************************** */

.more {
	overflow: hidden;
	margin: 0 0 2em;
	padding: 1em 0 0;
	font-size: 0.8em;
	font-weight: bold;
	border-top: 1px solid #ddd;
}
.more .previous {
	float: left;
}
.more .next {
	float: right;
}
.more a {
}



/* 5) Errors ******************************************************************** */

.error {
	clear: both;
	margin-top: 3em;
	font-size: 0.9em;
	color: #666;
}
.error strong {
	color: #900;
}

