img {
	border: none;
}

#header h1 a,#header h1 a:hover {
	/*background: url("/images/extendfirefoxbanner.gif") no-repeat;*/
}

.trademark {
	font-size: 0.8em;
	color: #666;
	font-style: italic;
}

.stickers {
	text-align: center;
}

.stickers img {
	border: none;
	margin: 3px 0 3px 0;
}

img.bio {
	border: solid black 2px;
	float: right;
	margin: 20px 0 15px 15px;
	width: 120px;
	height: 160px;
}


img.prize {
	border: solid black 1px;
	float: left;
	margin: 20px 15px 15px 0;
}
img.happyface-left {
	border: solid black 1px;
	float: left;
	margin: 3px 3px  3px 3px;

}
img.happyface-cent {
	border: solid black 1px;
	float: inherit;
	margin: 3px 3px  3px 3px;
}
img.happyface-right {
	border: solid black 1px;
	float: right;
	margin: 3px 3px 3px 3px;
}
img.sponsor {
	border: none;
	float: right;
	margin: 0 0 15px 15px;
}

img.main {
	border: none;
	float: right;
	margin: 0 0 15px 15px;
}

H2.judge-name {
  font-size: large;
  margin-bottom: 0;
  color: black;
}

H3.judge-title {
  font-size: medium;
  font-style: italic;
  margin-top: 0;
  color: rgb(0, 51, 102);
}