/****************************************/
/* LeanBack Player | HTML5 Video Player */
/* Release: 0.7.1 						*/
/****************************************/
/* LeanBack Video-Player */
.h5_lb_player { cursor: pointer; }
.h5_lb_player .h5_lb_video { cursor: pointer; }
.h5_lb_smallscreen { position: relative; margin: auto; text-align: center; z-index: 999; }
.h5_lb_fullscreen { position: fixed !important; top: 0; left: 0; margin: auto; text-align: center; border: 0; background-color: #000; z-index: 1001; }
.h5_lb_unfocused { opacity: 0.8; }
.h5_lb_player .big_play_button {
	position: absolute; top: 50%; left: 50%; margin:-40px 0 0 -40px; width: 80px; height: 80px; vertical-align:baseline; background-color: #f1f1f1;
	border: 2px solid #323232; cursor: pointer !important; display: block;
	/* Background */
	background: #f1f1f1;
	background: #fff -moz-linear-gradient(top, #f1f1f1, #fff) left 40px;
	background: #fff -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#fff)) left 40px;
	/* Radius */
	-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
	/* Shadow: offset left - offset top - blur - radius - color */
	-webkit-box-shadow: 0 0 20px 4px #CCC;
	-moz-box-shadow: 0 0 20px 4px #CCC;
	box-shadow: 0 0 20px 4px #CCC;
}
.h5_lb_player .big_play_button div {
	margin: 20px 0 0 24px; padding: 0; height: 0; width: 0; font-size: 0px; line-height: 0%; width: 0px;
	border-top: 20px solid transparent; border-left: 40px solid #323232; border-bottom: 20px solid transparent; 
}
.h5_lb_player .big_play_button:hover div {
	border-left: 40px solid #CF1A1A;
}
/*******************/
/* Loading Spinner */
.h5_lb_player .h5_lb_spinner { position: absolute; top: 50%; left: 50%; margin:-10px 0 0 -10px; width: 20px; height: 20px; z-index: 1004; }
.h5_lb_player .h5_lb_spinner div {
	position: absolute; width: 10px; height: 10px; background-color: #fff;
	/* Border Radius */
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
/******************/
/* Watermark/Logo */
.h5_lb_player img.watermark { position: absolute; margin: 0; top: 8px; left: 8px; width: 50px; height: 50px; border: 1px solid transparent; display: block;}
/******************/
/* Poster, Object */
.h5_lb_player img.poster { position: absolute; margin: 0; top: 0; left: 0; border: 1px solid transparent; display: block;}
.h5_lb_player object.html5_video_fallback{ border: 1px solid #000; }
/***************/
/* Control Bar */
.h5_lb_controls {
	position: absolute; top: auto; bottom: 0; margin: 0 0 -25px 0; height: 26px;
	cursor: default; z-index: 999; display: block;
}
.h5_lb_fullscreen .h5_lb_controls { top: auto !important; margin: 0 0 4px 0 !important; }
.h5_lb_player:hover .h5_lb_controls { display: block; }
/********************/
/*  Control Buttons */
.h5_lb_controls > div {
	float: left; text-align: center; margin: 0; padding: 0;	width: 25px; height: 26px;
	border: 1px solid #575757; cursor: pointer !important;
	/* Background */
	background: #464646;
	background: #686868 -moz-linear-gradient(top, #464646, #686868) left 13px;
	background: #686868 -webkit-gradient(linear, left top, left bottom, from(#464646), to(#686868)) left 13px;
}
.h5_lb_controls div.h5_lb_play_control:hover, .h5_lb_controls div.h5_lb_pause_control:hover, .h5_lb_controls div.h5_lb_stop_control:hover, .h5_lb_controls div.h5_lb_fullscreen_control:hover, .h5_lb_controls div.h5_lb_playback_control:hover, .h5_lb_controls div.h5_lb_subtitle_control:hover, .h5_lb_controls div.h5_lb_sources_control:hover {
	/* Background */
	background: #464646;
	background: #575757 -moz-linear-gradient(top, #464646, #575757) left 13px;
	background: #575757 -webkit-gradient(linear, left top, left bottom, from(#464646), to(#575757)) left 13px;
}
/*****************/
/* Control Items */
.h5_lb_controls div.h5_lb_play_control { display: block; border-left: 0; border-right: 0; margin-right: 0; }
.h5_lb_controls div.h5_lb_pause_control { display: none; border-left: 0; border-right: 0; margin-right: 0; }
.h5_lb_controls div.h5_lb_stop_control { display: block; border-right: 0; margin-right: 0; }
.h5_lb_controls div.h5_lb_progress_control { display: block; border-right: 0; margin-right: 0; }
.h5_lb_controls div.h5_lb_timer_control { display: block; border-left: 0; border-right: 0; margin-right: 0; width: 65px; }
.h5_lb_controls div.h5_lb_volume_control { display: block; width: 55px; border-left: 0; border-right: 0; margin-right: 0; }
.h5_lb_controls div.h5_lb_playback_control { display: block; border-right: 0; margin-right: 0; }
.h5_lb_controls div.h5_lb_subtitle_control { display: block; border-right: 0; margin-right: 0; }
.h5_lb_controls div.h5_lb_sources_control { display: block; width: 38px; border-right: 0; margin-right: 0; }
.h5_lb_controls div.h5_lb_fullscreen_control { display: block; border-right: 0; }
/****************************/
/* Play Control: Inner Item */
.h5_lb_controls div.h5_lb_play_control div { margin: 7px 0 0 7px; font-size: 0px; line-height: 0%; width: 0px; border-top: 6px solid transparent; border-left: 12px solid #e6e6e6; border-bottom: 6px solid transparent; }
.h5_lb_controls div.h5_lb_play_control:hover div { border-left: 12px solid #c8c8c8; }
/*****************************/
/* Pause Control: Inner Item */
.h5_lb_controls div.h5_lb_pause_control div { height: 10px; background-color: #e6e6e6; border-right: 1px solid #323232; float: left; }
.h5_lb_controls div.h5_lb_pause_control div:nth-child(1) { margin: 8px 0 0 7px; width: 3px; }
.h5_lb_controls div.h5_lb_pause_control  div:nth-child(2) { margin: 8px 0 0 3px; width: 3px; }
.h5_lb_controls div.h5_lb_pause_control:hover div { background-color: #c8c8c8; border-right: 1px solid #323232; }
/****************************/
/* Stop Control: Inner Item */
.h5_lb_controls div.h5_lb_stop_control div { margin: 7px 0 0 7px; height: 12px; width: 11px; background-color: #e6e6e6; border-right: 1px solid #323232; }
.h5_lb_controls div.h5_lb_stop_control:hover div { background-color: #c8c8c8; border-right: 1px solid #323232; }
/********************************/
/* Progress Control: Inner Item */
.h5_lb_controls div.h5_lb_progress_control .progress_bar_bg {
	position: absolute; margin: 8px 8px 0; height: 8px;
	border: 1px solid #e6e6e6; border-top: 1px solid #b8b8b8; border-left: 1px solid #c8c8c8; background-color: #ccc;
	cursor: pointer; z-Index: 1000;
}
.h5_lb_controls div.h5_lb_progress_control .progress_bar_buffered {
	position: absolute; margin: 9px 9px 0; height: 8px;
	background-color: #C89191;
	z-Index: 1001;
}
.h5_lb_controls div.h5_lb_progress_control .progress_bar_played {
	position: absolute; margin: 9px 9px 0; height: 8px;
	background-color: #CF1A1A;
	cursor: pointer; z-Index: 1002;
}
.h5_lb_controls div.h5_lb_progress_control div.progress_bar_time {
	position: absolute; margin: 8px 0 0 8px; height: 8px; 
	border: 1px solid transparent; background-color: transparent;
	cursor: pointer; z-Index: 1003; display: none;
}
.progress_bar_time div.progress_bar_time_line { 
	position: absolute; top: -8px; margin: 0 0 0 -8px; width: 0; height: 0; display: none;
	font-size: 0px; line-height: 0%; width: 0px;
	border-top: 10px solid #323232; border-bottom: 10px solid transparent; border-left: 10px solid transparent; border-right: 10px solid transparent;
}
.progress_bar_time div.progress_bar_time_txt {
	position: absolute; top: -25px; margin: 0 0 0 -3px; padding: 3px 4px 2px; width: 31px; height: 10px;
	color: #323232; background-color: #fff; border: 1px solid #323232;
	font: 9px/1.231 arial, helvetica, sans-serif; font-weight: normal; display: none;
	/* radius */
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
}
.progress_bar_time:hover .progress_bar_time_line,
.progress_bar_time:hover .progress_bar_time_txt { z-Index: 1004; display: block; }
/*****************************/
/* Timer Control: Inner Item */
.h5_lb_timer_control div { margin: 7px 0 0; font: 9px/1.231 arial, helvetica, sans-serif; text-align: center; color: #FFF; }
/*************************/
/* Volume Control: Items */
/* Mute Items */
.h5_lb_controls div.h5_lb_volume_control .h5_lb_mute div { position: absolute; }
.h5_lb_mute div:nth-child(1), .h5_lb_mute div:nth-child(2), .h5_lb_mute div:nth-child(3), .h5_lb_mute div:nth-child(4) {
	border-width: 1px 0 1px 1px; border-color: #FFF; border-style: solid;
	/* Radius */
	-moz-border-radius: 8px 0 0 8px; -webkit-border-radius: 8px 0 0 8px; border-radius: 8px 0 0 8px;
}
.h5_lb_mute div:nth-child(1) { margin: 10px 0 0 4px; height: 3px; width: 4px; z-index: 1001; }
.h5_lb_mute div:nth-child(2) { margin: 8px 0 0 8px; height: 7px; width: 2px; z-index: 1000; }
.h5_lb_mute div:nth-child(3) { margin: 7px 0 0 10px; height: 9px; width: 2px; border-width: 1px 0; }
.h5_lb_mute div:nth-child(4) { margin: 6px 0 0 11px; height: 11px; width: 1px; border-width: 1px 1px 1px 0; }
.h5_lb_mute div:nth-child(5), .h5_lb_mute div:nth-child(6), .h5_lb_mute div:nth-child(7) {
	border-top: 1px solid #FFF; border-right: 1px solid #FFF; border-bottom: 1px solid #FFF;
	/* Radius */
	-moz-border-radius: 0 8px 8px 0; -webkit-border-radius: 0 8px 8px 0; border-radius: 0 8px 8px 0;
}
.h5_lb_mute div:nth-child(5) { margin: 11px 0 0 14px; height: 1px; width: 1px; }
.h5_lb_mute div:nth-child(6) { margin: 9px 0 0 15px; height: 5px; width: 2px; }
.h5_lb_mute div:nth-child(7) { margin: 7px 0 0 16px; height: 9px; width: 3px; }
.h5_lb_mute div.is { background-color: #FFF; }
.h5_lb_mute div.isnot { background-color: #CF1A1A; }
/* Volume Items */
.h5_lb_controls div.h5_lb_volume_control .h5_lb_volume { margin: 0 0 0 25px; }
.h5_lb_controls div.h5_lb_volume_control .h5_lb_volume div { position: relative; margin: 6px 1px 0 0; width: 1px; height: 13px; float: left; background-color: #003; cursor: pointer; }
.h5_lb_controls div.h5_lb_volume_control .h5_lb_volume div:hover { height: 15px; margin: 9px 1px 0 0; }
.h5_lb_controls div.h5_lb_volume_control .h5_lb_volume div.is { background-color: #fff; border-right: 1px solid #f1f1f1; }
.h5_lb_controls div.h5_lb_volume_control .h5_lb_volume div.isnot { background-color: #c8c8c8; border-right: 1px solid #c8c8c8; }
/*********************************/
/* Playback Control: Inner Items */
.h5_lb_controls div.h5_lb_playback_control div { text-align: center !important; margin: 6px 0 0; font: 10px/1.231 arial, helvetica, sans-serif; color: #fff; }
.h5_lb_controls div.h5_lb_playback_control div.playback_nav { 
	position: absolute; width: 21px; top: -55px; margin: 0 0 0 -1px; padding: 0;
	background-color: #4f4f4f; border: 1px solid #575757; border-bottom: 0;
	display: none; z-index: 1001;
}
.h5_lb_controls div.h5_lb_playback_control:hover div.playback_nav { display: block; padding: 2px; }
.h5_lb_controls div.h5_lb_playback_control .playback_nav div { height: 13px; margin: 0; padding: 0 2px;}
.h5_lb_controls div.h5_lb_playback_control .playback_nav div:hover { background-color: #f8f8f8; color: #323232; display: block; }
/*********************************/
/* Subtitle Control: Inner Items */
.h5_lb_controls div.h5_lb_subtitle_control div { text-align: center !important; padding: 6px 0 0; font: 10px/1.231 arial, helvetica, sans-serif; color: #fff; }
.h5_lb_controls div.h5_lb_subtitle_control div.subtitle_nav {
	position: absolute; margin: 0 0 0 -1px; padding: 0;
	background-color: #4f4f4f; border: 1px solid #575757; border-bottom: 0;
	display: none; z-index: 1002;
}
.h5_lb_controls div.h5_lb_subtitle_control:hover div.subtitle_nav { display: block; padding: 2px; }
.h5_lb_controls div.h5_lb_subtitle_control .subtitle_nav div { height: 13px; padding: 0 2px; }
.h5_lb_controls div.h5_lb_subtitle_control .subtitle_nav div:hover { background-color: #f8f8f8; color: #323232; display: block; }
/*********************************/
/* Sources Control: Inner Items */
.h5_lb_controls div.h5_lb_sources_control div { text-align: center !important; padding: 6px 0 0; font: 10px/1.231 arial, helvetica, sans-serif; color: #fff; }
.h5_lb_controls div.h5_lb_sources_control div.sources_nav {
	position: absolute; margin: 0 0 0 -1px; padding: 0;
	background-color: #4f4f4f; border: 1px solid #575757; border-bottom: 0;
	display: none; z-index: 1002;
}
.h5_lb_controls div.h5_lb_sources_control:hover div.sources_nav { display: block; padding: 2px; }
.h5_lb_controls div.h5_lb_sources_control .sources_nav div { height: 17px; padding: 0 2px; }
.h5_lb_controls div.h5_lb_sources_control .sources_nav div sup {font: 7px/1.231 arial, helvetica, sans-serif !important;}
.h5_lb_controls div.h5_lb_sources_control .sources_nav div:hover { background-color: #f8f8f8; color: #323232; display: block; }
/***********************************/
/* Playlist Control: Inner Items */
.h5_lb_controls div.h5_lb_playlist_control div { text-align: center !important; padding: 6px 0 0; font: 10px/1.231 arial, helvetica, sans-serif; font-weight: bold; color: #fff; }
.h5_lb_controls div.h5_lb_playlist_control div.playlist_nav {
	position: absolute; padding: 0; display: none; background-color: #4f4f4f; border: 1px solid #575757; border-bottom: 0; text-align: center;
}
.h5_lb_controls div.h5_lb_playlist_control div.playlist_nav img { padding: 2px; float: left; }
.h5_lb_controls div.h5_lb_playlist_control div.playlist_nav img:hover { padding: 2px; float: left; background-color: #f1f1f1; }
.h5_lb_controls div.h5_lb_playlist_control:hover div.playlist_nav { display: block; padding: 5px; z-index: 1001;}
.h5_lb_controls div.h5_lb_sources_control .playlist_nav div:hover { background-color: #f8f8f8; color: #323232; display: block; }
/***********************************/
/* Fullscreen Control: Inner Items */
.h5_lb_controls div.h5_lb_fullscreen_control div { position: absolute; background-color: #ccc; border: 1px solid #e6e6e6; }
.h5_lb_controls div.h5_lb_fullscreen_control div.h5_lb_fullscreen_control_fs1 { margin: 13px 0 0 12px; height: 8px; width: 8px; z-index: 1000; }
.h5_lb_controls div.h5_lb_fullscreen_control div.h5_lb_fullscreen_control_fs2 { margin: 4px 0 0 3px; height: 17px; width: 17px; z-index: 1001; display: none; }
.h5_lb_controls div.h5_lb_fullscreen_control:hover div.h5_lb_fullscreen_control_fs2 { display: block; }
/*******************/
/* Subtitle Output */
.h5_lb_player .h5_lb_subtitles {
	position: relative; 
	margin: -45px auto 0 auto;
	width: 80%;
	color: #fff; text-align: center !important;
	display: none;
	/* Fallback for web browsers doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.2 opacity */
	background: rgba(0, 0, 0, 0.7);
}
.h5_lb_fullscreen  .h5_lb_subtitles { font: 36px/1.5 arial, helvetica, sans-serif; font-weight: bold;     margin: -120px auto 0; }
.h5_lb_smallscreen  .h5_lb_subtitles { font: 20px/1.5 arial, helvetica, sans-serif; font-weight: bold; }
/***********************/
/* Embedding Code/Link */
.h5_lb_player .h5_lb_embed {
    display: none !important;
	position: absolute; top: 5px; right: 5px; margin: 5px; width: auto; height: 40px; text-align: right; z-index: 1005;
}
.h5_lb_fullscreen  .h5_lb_embed {
	visibility: hidden;
}
.h5_lb_player .h5_lb_embed .h5_lb_embed_inner {
	margin: 0 0 3px auto; padding: 5px;
	border: 1px solid #323232; color: #fff; text-align: center !important; width: auto; height: auto;
	line-height: normal !important; font-size: 11px !important; font-family: arial, helvetica, sans-serif !important;
	/* Background Fallback for web browsers doesn't support RGBa */
	background: #646464;
	/* Background RGBa with 0.7 opacity */
	background: rgba(100, 100, 100, 0.7);
}
.h5_lb_player .h5_lb_embed .h5_lb_embed_inner:hover {
	/* Background Fallback for web browsers doesn't support RGBa */
	background: #646464;
	/* Background RGBa with 0.9 opacity */
	background: rgba(100, 100, 100, 0.9);
}
.h5_lb_player div.h5_lb_embed_code {
	position: absolute; top: 50%; left: 50%; margin: -100px 0 0 -150px; width: 300px; height: 200px; text-align: center; z-index: 1005;
	color: #fff; border: 1px solid #323232; display: none;
	/* Background Fallback for web browsers doesn't support RGBa */
	background: #646464;
	/* Background RGBa with 0.9 opacity */
	background: rgba(100, 100, 100, 0.9);
}
.h5_lb_player div.h5_lb_embed_code textarea.h5_lb_embed_code_user {
	line-height: normal !important; vertical-align: baseline; font-size: 12px !important; font-family: arial, helvetica, sans-serif !important; margin: 5px; padding: 4px; width: 270px; height: 130px; background: #fff; color: #000; border: 1px solid #323232; overflow: auto; cursor: default;
}
.h5_lb_player div.h5_lb_embed_code div.h5_lb_embed_code_txt {
	line-height: normal !important; vertical-align: baseline; font-size: 10px !important; font-family: arial, helvetica, sans-serif !important; margin: 5px; cursor: default; text-align: center !important;
}
.h5_lb_player div.h5_lb_embed_code button.h5_lb_embed_code_btn {
	line-height: normal !important; vertical-align: baseline; font-size: 12px !important; font-family: arial, helvetica, sans-serif !important; position: absolute; bottom: 0; left: 50%; margin: 5px 0 5px -40px; padding: 0 5px; width: 80px; height: 24px;
	border-top: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
	border-right: 1px solid #bababa;
	border-bottom: 1px solid #bababa;
	cursor: pointer;
	/* Background */
	background: #eaeaea;
	/* Radius */
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
.h5_lb_player div.h5_lb_embed_code div.h5_lb_embed_code_btn:hover { border-top: 1px solid #bababa; border-left: 1px solid #bababa; border-right: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea; }
/****************************************/
/* CSS Loaded Test - do not change this */
.h5_lb_css_loaded_test {display: none;}