/* download button - sandstone */

.download-button .unrecognized-download,
.download-button .unsupported-download
{
    display: none;
}

.download-button
{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.download-button ul
{
    margin: 0;
}

.download-button ul li
{
    list-style-type: none;
    margin: 0;
}

.download-button .download-link
{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    -moz-border-radius: .25em;
    border-radius: .25em;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
    background-color: #43a6e2;
    background-color: #277ac1;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#43a6e2),to(#277ac1));
    background-image: -moz-linear-gradient(#43a6e2,#277ac1);
    background-image: -ms-linear-gradient(#43a6e2,#277ac1);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#43a6e2),color-stop(100%,#277ac1));
    background-image: -webkit-linear-gradient(#43a6e2,#277ac1);
    background-image: -o-linear-gradient(#43a6e2,#277ac1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#43a6e2', endColorstr='#277ac1', GradientType=0)";
    background-image: linear-gradient(#43a6e2,#277ac1);
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    line-height: 1.1;
    text-decoration: none;
    min-width: 80px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,0.25);
    font-family: 'Open Sans',sans-serif;
    -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -o-transition: all linear .25s;
    -ms-transition: all linear .25s;
    transition: all linear .25s;
    cursor: pointer;
    background-color: #81bc2e;
    background-color: #659324;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#81bc2e),to(#659324));
    background-image: -moz-linear-gradient(#81bc2e,#659324);
    background-image: -ms-linear-gradient(#81bc2e,#659324);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#81bc2e),color-stop(100%,#659324));
    background-image: -webkit-linear-gradient(#81bc2e,#659324);
    background-image: -o-linear-gradient(#81bc2e,#659324);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#81bc2e', endColorstr='#659324', GradientType=0)";
    background-image: linear-gradient(#81bc2e,#659324);
    cursor: pointer;
    padding: 0;
    margin-left: auto;
    width: 250px;
    _margin-left: 0;
    _width: 274px;
    text-align: left;
    font-weight: normal;
    line-height: 20px;
    font-size: 16px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.download-button .download-link:hover,
.download-button .download-link.hover,
.download-button .download-link:focus,
.download-button .download-link.focus
{
    -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #38a9ed;
    -moz-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #38a9ed;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #38a9ed;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -o-transition: all linear .25s;
    -ms-transition: all linear .25s;
    transition: all linear .25s;
}

.download-button .download-link:focus,
.download-button .download-link.focus
{
    outline-color:#484848;
}

.download-button .download-link:active,
.download-button .download-link.active
{
    -webkit-box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
    box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
    color: #fff;
    text-decoration: none;
    -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -o-transition: all linear .25s;
    -ms-transition: all linear .25s;
    transition: all linear .25s;
}

.download-button .download-link.insensitive,
.download-button .download-link.insensitive:hover,
.download-button .download-link.insensitive:focus
{
    background-color: #9ca3aa;
    background-color: #9ca3aa;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#bfc7cd),to(#9ca3aa));
    background-image: -moz-linear-gradient(#bfc7cd,#9ca3aa);
    background-image: -ms-linear-gradient(#bfc7cd,#9ca3aa);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#bfc7cd),color-stop(100%,#9ca3aa));
    background-image: -webkit-linear-gradient(#bfc7cd,#9ca3aa);
    background-image: -o-linear-gradient(#bfc7cd,#9ca3aa);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfc7cd', endColorstr='#9ca3aa', GradientType=0)";
    background-image: linear-gradient(#bfc7cd,#9ca3aa);
    -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
    color: #eee;
}

.download-button .download-link small
{
    display:block;
}

.download-button .download-link:hover,
.download-button .download-link:focus
{
    -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #83c822;
    -moz-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #83c822;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #83c822;
}

.download-button .download-link .download-content
{
    display: block;
    position: relative;
    color: #b8e779;
    margin-left: auto;
    _margin-left: 0;
    background: url(//www.mozilla.org/media/img/sandstone/buttons/download-arrow-small.png) 15px 18px no-repeat;
    _background-color: #659324;
    min-height: 45px;
    margin-top: -2px;
    margin-bottom: -7px;
    _margin-bottom: 0;
    padding: 10px 20px 10px 55px;
    overflow: visible;
    font-size: 12px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.download-button .download-link .download-title,
.download-button .download-link .download-title span
{
    display: block;
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: -0.02em;
    padding-top: 8px;
    margin-bottom: 10px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.download-button .download-link .download-title
{
    font-size: 22px;
    padding-top: 0;
    margin-bottom: 0;
}

.download-button .download-link .download-title span
{
    padding-top: 0;
    margin-bottom: 5px;
    font-size: 20px;
}

.download-button .download-link .download-subtitle
{
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    margin-right:auto;
}

.download-button .download-link .download-lang
{
    display: block;
    color: #346012;
    padding-top: 2px;
    font-size: 11px;
    line-height: 100%;
    text-shadow: 0 1px rgba(255,255,255,0.2);
    position: absolute;
    top: 33px;
    right: 10px;
    text-align: right;
    width: 100px;
}

.download-button .download-link .download-platform
{
    display:none;
}

.download-button .os_linux,
.download-button .os_linux_64,
.download-button .os_windows,
.download-button .os_osx,
.download-button .unrecognized-download
{
    display: none !important;
}

.linux .download-button .os_linux
{
    display: inline-block !important;
    margin-left: 1em;
}

.windows .download-button .os_windows,
.osx .download-button .os_osx,
.unrecognized .download-button .unrecognized-download
{
    display: block !important;
}

.download-button small.download-other
{
    font-family: 'Open Sans',sans-serif;
    display: block;
    font-size: 11px;
    text-align: right;
    margin-top: 6px;
    color: #bbb;
}

.download-button small.download-other a:link,
.download-button small.download-other a:visited
{
    color: #999;
}

.no-js .download-button small.download-other
{
    text-align: left;
}

.download-button noscript,
.download-button .unrecognized-download
{
    text-align: left;
}

.download-button noscript h4,
.download-button .unrecognized-download h4
{
    text-shadow: none;
    margin: 0 0 6px 0;
    font-size: 18px;
}

.download-button noscript ul li,
.download-button .unrecognized-download ul li
{
    display: inline;
}
