/* download button */

#fxtw-download #download-button-desktop-tw
{
    float: right;
}

.download-button .unrecognized-download,.download-button .unsupported-download{
	display:none
}

.download-button{
	display:inline-block;
	*display:inline;
	*zoom:1
}

.download-button ul{
	margin:0
}

.download-button ul li{
	list-style-type:none;
	margin:0
}

.download-button .download-link{
	display:inline-block;
	*display:inline;
	*zoom:1;
	-moz-border-radius:.25em;
	border-radius:.25em;
	box-shadow:0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
	background-color:#43a6e2;
	background-color:#277ac1;
	background-repeat:repeat-x;
	background-image:-khtml-gradient(linear,left top,left bottom,from(#43a6e2),to(#277ac1));
	background-image:-moz-linear-gradient(#43a6e2,#277ac1);
	background-image:-ms-linear-gradient(#43a6e2,#277ac1);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#43a6e2),color-stop(100%,#277ac1));
	background-image:-webkit-linear-gradient(#43a6e2,#277ac1);
	background-image:-o-linear-gradient(#43a6e2,#277ac1);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#43a6e2', endColorstr='#277ac1', GradientType=0)";
	background-image:linear-gradient(#43a6e2,#277ac1);
	color:#fff;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	padding:5px 10px;
	line-height:1.1;
	text-decoration:none;
	min-width:80px;
	border:0;
	text-shadow:0 1px 0 rgba(0,0,0,0.25);
	font-family:'Open Sans',sans-serif;
	-webkit-transition:all linear .25s;
	-moz-transition:all linear .25s;
	-o-transition:all linear .25s;
	-ms-transition:all linear .25s;
	transition:all linear .25s;
	cursor:pointer;
	background-color:#81bc2e;
	background-color:#659324;
	background-repeat:repeat-x;
	background-image:-khtml-gradient(linear,left top,left bottom,from(#81bc2e),to(#659324));
	background-image:-moz-linear-gradient(#81bc2e,#659324);
	background-image:-ms-linear-gradient(#81bc2e,#659324);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#81bc2e),color-stop(100%,#659324));
	background-image:-webkit-linear-gradient(#81bc2e,#659324);
	background-image:-o-linear-gradient(#81bc2e,#659324);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#81bc2e', endColorstr='#659324', GradientType=0)";
	background-image:linear-gradient(#81bc2e,#659324);
	cursor:pointer;
	padding:0;
	margin-left:54px;
	width:220px;
	_margin-left:0;
	_width:294px;
	text-align:left;
	font-weight:normal;
	line-height:20px;
	font-size:16px;
	-moz-border-radius:6px;
	border-radius:6px
}

.download-button .download-link:hover,.download-button .download-link.hover,.download-button .download-link:focus,.download-button .download-link.focus{
	-webkit-box-shadow:0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #38a9ed;
	-moz-box-shadow:0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #38a9ed;
	box-shadow:0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #38a9ed;
	color:#fff;
	text-decoration:none;
	-webkit-transition:all linear .25s;
	-moz-transition:all linear .25s;
	-o-transition:all linear .25s;
	-ms-transition:all linear .25s;
	transition:all linear .25s
}

.download-button .download-link:focus,.download-button .download-link.focus{
	outline-color:#484848
}

.download-button .download-link:active,.download-button .download-link.active{
	-webkit-box-shadow:inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
	-moz-box-shadow:inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
	box-shadow:inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
	color:#fff;
	text-decoration:none;
	-webkit-transition:all linear .25s;
	-moz-transition:all linear .25s;
	-o-transition:all linear .25s;
	-ms-transition:all linear .25s;
	transition:all linear .25s
}

.download-button .download-link.insensitive,.download-button .download-link.insensitive:hover,.download-button .download-link.insensitive:focus{
	background-color:#9ca3aa;
	background-color:#9ca3aa;
	background-repeat:repeat-x;
	background-image:-khtml-gradient(linear,left top,left bottom,from(#bfc7cd),to(#9ca3aa));
	background-image:-moz-linear-gradient(#bfc7cd,#9ca3aa);
	background-image:-ms-linear-gradient(#bfc7cd,#9ca3aa);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#bfc7cd),color-stop(100%,#9ca3aa));
	background-image:-webkit-linear-gradient(#bfc7cd,#9ca3aa);
	background-image:-o-linear-gradient(#bfc7cd,#9ca3aa);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfc7cd', endColorstr='#9ca3aa', GradientType=0)";
	background-image:linear-gradient(#bfc7cd,#9ca3aa);
	-webkit-box-shadow:0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
	-moz-box-shadow:0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
	box-shadow:0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
	color:#eee
}

.download-button .download-link small{
	display:block
}

.download-button .download-link:hover,.download-button .download-link:focus{
	-webkit-box-shadow:0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #83c822;
	-moz-box-shadow:0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #83c822;
	box-shadow:0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #83c822
}

.download-button .download-link .download-content{
	display:block;
	position:relative;
	color:#b8e779;
	margin-left:-54px;
	_margin-left:0;
	background:url(//www.mozilla.org/media/img/sandstone/buttons/firefox-large.png?build=2) 0 0 no-repeat;
	_background-color:#659324;
	min-height:82px;
	margin-bottom:-12px;
	_margin-bottom:0;
	padding:10px 12px 16px 119px
}

.download-button .download-link .download-title,.download-button .download-link .download-title span{
	display:block;
	color:#fff;
	font-size:30px;
	font-weight:normal;
	letter-spacing:-0.02em;
	padding-top:8px;
	margin-bottom:10px;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25)
}

.download-button .download-link .download-title span{
	padding-top:0;
	margin-bottom:5px
}

.download-button .download-link .download-subtitle{
	text-shadow:0 -1px 0 rgba(0,0,0,0.25)
}

.download-button .download-link .download-lang{
	display:block;
	color:#346012;
	padding-top:2px;
	font-size:11px;
	line-height:100%;
	text-shadow:0 1px rgba(255,255,255,0.2)
}

.download-button .download-link .download-platform{
	display:none
}

.download-button-small .download-link{
	margin-left:44px;
	width:230px;
	_margin-left:0;
	_width:274px
}

.download-button-small .download-link .download-content{
	margin-left:-34px;
	_margin-left:0;
	margin-top:-2px;
	margin-bottom:-7px;
	background-image:url(//www.mozilla.org/media/img/sandstone/buttons/firefox-small.png?build=2);
	min-height:45px;
	padding:10px 20px 10px 73px;
	overflow:visible;
	font-size:12px;
	-moz-border-radius:6px;
	border-radius:6px
}

.download-button-small .download-link .download-title{
	font-size:22px;
	padding-top:0;
	margin-bottom:0
}

.download-button-small .download-link .download-lang{
	position:absolute;
	top:20px;
	right:10px;
	text-align:right;
	width:100px
}

.download-button-beta.download-button-small .download-link .download-lang,.download-button-aurora.download-button-small .download-link .download-lang{
	top:33px
}

.download-button-beta .download-link .download-title,.download-button-aurora .download-link .download-title,.download-button-beta .download-link .download-title span,.download-button-aurora .download-link .download-title span{
	font-size:24px
}

.download-button-beta.download-button-small .download-link .download-title,.download-button-aurora.download-button-small .download-link .download-title,.download-button-beta.download-button-small .download-link .download-title span,.download-button-aurora.download-button-small .download-link .download-title span{
	font-size:20px
}

.download-button.download-button-beta.download-button-small .download-list .os_android .download-link .download-title span,.download-button.download-button-aurora.download-button-small .download-list .os_android .download-link .download-title span,.download-button.download-button-mobile.download-button-aurora.download-button-small .download-link .download-title span,.download-button.download-button-mobile.download-button-beta.download-button-small .download-link .download-title span{
	font-size:18px;
	letter-spacing:-0.01em
}

.download-button-large.beta .download-link .download-content{
	background-image:url(//www.mozilla.org/media/img/sandstone/buttons/beta-large.png)
}

.download-button-small.beta .download-link .download-content{
	background-image:url(//www.mozilla.org/media/img/sandstone/buttons/beta-small.png)
}

.download-button-large.aurora .download-link .download-content{
	background-image:url(//www.mozilla.org/media/img/sandstone/buttons/aurora-large.png)
}

.download-button-small.aurora .download-link .download-content{
	background-image:url(//www.mozilla.org/media/img/sandstone/buttons/aurora-small.png)
}

.download-button.download-button-noicon .download-link{
	width:250px;
	margin-left:auto
}

.download-button.download-button-noicon .download-link .download-content{
	margin-left:auto;
	padding-left:55px;
	background-image:url(//www.mozilla.org/media/img/sandstone/buttons/download-arrow.png);
	background-position:15px 30px
}

.download-button.download-button-noicon .download-link .download-subtitle{
	margin-right:auto
}

.download-button-noicon .download-list .os_android .download-link .download-title span,.download-button-mobile.download-button-noicon .download-link .download-title span{
	padding-top:7px
}

.download-button-small.download-button-noicon .download-link .download-content{
	background-image:url(//www.mozilla.org/media/img/sandstone/buttons/download-arrow-small.png);
	background-position:15px 18px
}

.download-button-small.download-button-noicon .download-list .os_android .download-link .download-title span,.download-button-small.download-button-mobile.download-button-noicon .download-link .download-title span{
	padding-top:0
}

.download-button .os_linux,.download-button .os_windows,.download-button .os_osx,.download-button .os_android,.no-js .download-list,.other .download-list{
	display:none!important
}

.linux .download-button .os_linux,.windows .download-button .os_windows,.osx .download-button .os_osx,.android .download-button .os_android,.download-button-mobile .os_android,.android .download-button-desktop .download-list,.android .download-button-desktop small.os_windows,.no-js .download-button-mobile .download-list,.other .download-button-mobile .download-list,.other .download-button small.os_windows{
	display:block!important
}

.ios .download-button .unsupported-download,.oldmac .download-button .unsupported-download{
	display:block;
	max-width:250px
}

.download-button small.download-other,.other .download-button-mobile small.download-other,.android .download-button-desktop small.download-other{
	font-family:'Open Sans',sans-serif;
	display:block;
	font-size:11px;
	text-align:right;
	margin-top:6px;
	color:#bbb
}

.download-button small.download-other a:link,.other .download-button-mobile small.download-other a:link,.android .download-button-desktop small.download-other a:link,.download-button small.download-other a:visited,.other .download-button-mobile small.download-other a:visited,.android .download-button-desktop small.download-other a:visited{
	color:#999
}

.no-js .download-button small.download-other,.other .download-button small.download-other,.android .download-button-desktop small.download-other{
	text-align:left
}

.other .download-button .unrecognized-download,.android .download-button-desktop .unrecognized-download{
	display:block
}

.download-button noscript,.download-button .unrecognized-download{
	text-align:left
}

.download-button noscript h4,.download-button .unrecognized-download h4{
	text-shadow:none;
	margin:0 0 6px 0;
	font-size:18px
}

.download-button noscript ul li,.download-button .unrecognized-download ul li{
	display:inline
}

.download-button noscript small,.download-button .unrecognized-download small{
	font-size:11px;
	letter-spacing:normal
}

.download-button noscript .button-green,.download-button .unrecognized-download .button-green{
	padding-left:6px;
	padding-right:6px;
	margin-left:3px;
	margin-bottom:3px
}

.download-button .download-list .os_android .download-link .download-title,.download-button-mobile .download-link .download-title{
	padding-top:0;
	margin-bottom:5px;
	font-size:16px;
	color:#346012;
	text-shadow:0 1px rgba(255,255,255,0.2)
}

.download-button .download-list .os_android .download-link .download-subtitle,.download-button-mobile .download-link .download-subtitle{
	display:block;
	position:static;
	text-align:left;
	margin-right:40px;
	color:#fff;
	font-size:11px;
	line-height:1.2;
	letter-spacing:normal;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25)
}

.download-button.download-button-small .download-list .os_android .download-link .download-title,.download-button.download-button-small.download-button-mobile .download-link .download-title{
	padding-top:0;
	margin-bottom:5px;
	font-size:13px;
	color:#346012;
	text-shadow:0 1px rgba(255,255,255,0.2);
	letter-spacing:normal
}

.download-button.download-button-small .download-list .os_android .download-link .download-title span,.download-button.download-button-small.download-button-mobile .download-link .download-title span{
	font-size:22px;
	margin-bottom:0
}

.download-button.download-button-small .download-list .os_android .download-link .download-subtitle,.download-button.download-button-small.download-button-mobile .download-link .download-subtitle{
	position:absolute;
	top:15px;
	right:10px;
	text-align:right;
	width:100px;
	margin-right:0
}
