* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Heiti TC", "LiHei Pro", "微軟正黑體", "WenQuanYi - Micro Hei", "Arial", sans-serif;
    color:#666;
    background:#F1F1F1 url(/images/furley_bg.png);
    margin-top: 20px;
    font-size: 14px;
}

a {
    text-decoration:none;
    color:#1AB4FF;
}

.container {
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 90%;
    width: 760px;
}

#header {
    width: 760px;
    max-width: 90%;
    margin: 0 auto;
}

section h1, h2 {
    border-bottom: 1px solid #CCCCCC;
    color: #E44D26;
    font: 2em/1.5em bold;
    margin: 2.2em 0 0.8em;
    text-align: center;
    text-shadow: 0 2px 5px white;
}

#footer {
    border-top: 1px #CCC solid;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);
    text-align: center;
    margin: 40px auto 20px;
    width: 760px;
    max-width: 90%;
    margin: 0 auto;
}

#footer p {
    text-align: center;
}

p {
    text-align: left;
    line-height: 30px;
    margin: 1em 15px;   
}

@media (max-width: 500px) {
    body{
    margin-top: 30px;
    }
}
