.active-extensiontop15
{
    background: url(active-extensiontop15.png) no-repeat;
}
#mainContent h3 {
	border: none;
	border-bottom: solid 1px gray;
	background: #f0f0f0;
}
.extension-info {
	position: relative;
	margin-bottom: 1em;
}
.extension-info blockquote {
	margin: 1em 2em 0 12em;
	padding-top: 1.5em;
	color: #3B84BF;
}
.extension-info p{
	margin-left: 10em;
} 
.extension-info blockquote cite{
	display: block;
	text-align: right;
	font-style: normal;
}
.extension-info ul{
	position: absolute;
	margin: 0; padding: 0;
	top: -.25em; left: 0;
	padding-left: 1.5em;
	width: 8em;
	border: gray 1px;
	border-style: none solid solid none; 
}

#mainContent .install-options {
	text-align: right;
	margin: 0; padding: 0;
}

label {font-weight: normal;}

#mainContent .download:before {
	content: url("/images/download_tl_content.gif");
}
#mainContent .download {
	background: #C4EFA1 url("/images/download_back_content.gif") top right no-repeat;
}
#mainContent .download:after {
	content:  url("/images/download_bl_content.gif");
	background: transparent url("/images/download_br_content.gif") scroll no-repeat bottom right ;
}
#mainContent .download h3 {
	background: transparent;
}
#install-extensions {
	position: relative;
}

p.targetuser {
	margin: 0;
	text-align: right;
	color: #1D9101;
	position: absolute;
	top: -1.8em;
	right: 0;
}