h2 a { text-decoration: none; }
h2 a:link { color: #000; }
h2 a:visited { color: #000; }
h2 a:hover { color: #039; }

#mBody h2 { margin-top: 0; }
#mBody p { margin-top: 0; }

#front-feature div {
  padding: 15px 15px 25px 15px;
  text-align: center; 
}

a#shopLink {
	display: block;
	padding: 6px 4px 18px 50px;
	width: 260px;
	background: url(../../images/firefox-shop.gif) no-repeat;
}

div.extrainfo {
	margin-top: 10px;
}

.homepage p {
	margin: 0 0 0.8em 0;
	line-height: 140%;
}

#feature-content {
	padding: 6px 330px 6px 10px;
}

#feature-content p {
	line-height: 160%;
	color: #4C5C5C;
}

.download {
	line-height: 140%;
 }

#feature-content h2 {
	margin: 0;
}

#featurelink {
	display: block;
	width: 350px;
	height: 235px;
	position: absolute;
	bottom: 0;
	right: 0;
	text-decoration: none;
	text-indent: -2500px;
}

ul.news {
	margin: 0.5em 0 0 0;
	padding: 0;
}

.news li {
	margin: 0 0 0.7em 0;
	padding: 0;
	clear: both;
	list-style-type: none;
}
.news li a { font-weight: normal; }

.news .date {
	background: #FAF4C8;
	border-right: 1px solid #E3DE9F;
	border-bottom: 1px solid #E3DE9F;
	float: left;
	text-align: center;
	line-height: 1.1em;
	padding: 2px 1px 5px 1px;
	width: 2.2em;
	color: #A19D68;
	margin: 0 0.5em 1em 0;
}

.news .date:first-line {
	font-size: 70%;
}

img.rss {
	float: right;
	margin-top: 1.5em;
	padding: 4px 2px 0 0;
}

img.promo {
	margin: 0 0 8px 8px;
	float: right;
}

.frontcolumn {
	width: 32%;
	float: left;
	padding-right: 3%;
}

.frontcolumndouble {
	width: 63%;
	float: left;
	padding-right: 3%;
}

.frontcolumnlast {
	width: 30%;
	float: left;
}

.homepage .download {
	width: 250px;
}

.homepage .shop {
	width: 175px;
}
