html {
    height : 97%;
    padding : 0;
    margin : 0;
    overflow : hidden;
}
body {
    height : inherit;
    margin : 15px;
    padding : 0;
    border : 2px dashed #7e7e7e;
    font : 1em, Verdana, Geneva, Arial, Helvetica, sans-serif;
    line-height : 1.6;
    color : #444;
}
h1 { 
	font-family:Georgia,"Times New Roman", sans-serif;
	margin : 0; 
	font-size: 1.5em;
}
h2 { 
	margin : 10px 0 0 0; 
	font-size: 1.2em;
}

p {
	margin : 0;	
	padding : 0 0 7px 0;
}

a { 
	color : #1e90ff;
	text-decoration : none;	
}
a:hover { text-decoration : underline; }
hr {
	border : none;
	height : 1px; line-height: 1px;
	background : #ccc;	
	margin : 20px 0 20px 0;
	padding : 0;
}
ul, ol { 
	margin : 0 0 0 10px; 
	font-size: 1em;
}

#instructions {
    width: 75%;
    margin: 5% auto;
    padding: 20px;
    background: #FFF;	
    border: 2px solid #CCC;
}

#example {
	float: left;
	margin: 10px 20px 0 0;
}
#example img{
    border: 2px solid #CCC;
}
#example p{
	font-size: 0.8em;
}

#step {
	margin: 0 0 0 245px;
}

#footer {
	text-align : center;
	font-size : 12px;
}
.clear {
	clear : both;
	line-height : 1px;
	font-size : 1px;
}

.left { float : left; }
.right { float : right; }
