body {
  font-family: "Helvetica", "Heiti TC", "LiHei Pro", "微軟正黑體", "WenQuanYi - Micro Hei", "Arial", sans-serif;
}
#wrapper {
  padding: 36px 0;
}
#main-feature h1 {
  font-family: 'Open Sans';
  font-weight: 300;
}
#main-feature h1 .zh {
  bottom: -10px;
  display: inline-block;
  font-size: 0.7em;
  margin-right: 0.15em;
  position: relative;
  vertical-align: bottom;
}

#main-feature h2 {
  color: #999;
}

#key-point {
  padding: 30px 20px 25px;
  background: url("./images/promo-fxtshirt.jpg") no-repeat right bottom #414d59;
  margin-bottom: 48px;
}

#key-point h2 {
  color: #FFF;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}

#key-point p {
  font-size: 1.1em;
  line-height: 1.5em;
  margin-top: 20px;
  width: 650px;
}

#youtube {
  margin-bottom: 40px;
}

#youtube .left {
  width: 640px;
}

#youtube .left iframe {
    width: 640px;
    height: 360px; 
}

#youtube .right {
  position: relative;
  height: 360px;
  width: 360px;
}

#donate-button {
  background: #0789BB;
  border-bottom: 3px solid #046E96;
  border-radius: 5px;
  box-shadow: 0 0 2px #046E96 inset;
  color: white;
  cursor: pointer;
  font-size: 20px;
  height: 62px;
  line-height: 37px;
  padding: 18px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  top: 160px;
  width: 280px;
}

#donate-button .title {
  display: block;
  font-size: 36px;
}
.help {
  color: #414D59;
  position: absolute;
  right: 20px;
  top: 270px;
}

@media screen and (max-width: 1000px), screen and (max-device-width: 1000px){
  #youtube > div {
      float: none;
      margin: 0 auto;
  }
  #youtube .right {
      float: none;
      height: auto;
      margin-top: 60px;
      text-align: center;
  }
  #donate-button {
      display: block;
      position: relative;
      margin: 0 auto 15px;
      top: auto;
      right: auto;
  }
  .help {
      position: relative;
      right: auto;
      top: auto;
  }
}

@media screen and (max-width: 820px), screen and (max-device-width: 820px){
  #key-point p {
      width: auto;
        margin-right: 260px;
  }
  #youtube .left {
      width: auto;
      text-align: center;
  }
  #youtube .left iframe {
      height: 360px;      
      width: 100%;
  }
}

@media screen and (max-width: 520px), screen and (max-device-width: 520px){
    #masthead #moztw-link-text {
        font-size: 24px;
    }
    #moztw-link-english {
        font-size: 18px;
    }
    #moztw-link-chinese {
        font-size: 16px;
    }
    #youtube .left {
        width: auto;
    }
    #youtube .left iframe {
        height: 320px;      
        width: 100%;
    }
    #youtube .right {
        width: auto;
    }
}


