#key-point > * {
	float: left;
	width: 680px;
}

#key-point .cleanslate {
	float: right !important;
}

#key-point video {
	width: 260px !important;
	display: block !important;
}

#key-point .unisubs-videoTab-container {
	display: none !important;
}

#project {
	margin-bottom: 40px;
}

#project .left section {
	margin-bottom: 20px;
	position: relative;
	padding-left: 120px;
	padding-bottom: 15px;
	min-height: 100px;
	border-bottom: 1px #CCC dotted;
}

#project .left section::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 90px;
	height: 90px;
	border: 5px rgba(255, 255, 255, 0.5) solid;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	background: url(../images/new_style/foxmosa-icon.gif) center no-repeat;
	background-size: contain;
}

#project .left section#sumo::before {
	background: url(../images/new_style/sumo.png) center no-repeat;
	background-size: contain;
}

#project .left section#mdn::before {
    background: url(../images/new_style/mdn-logo.png) center no-repeat;
	background-size: contain;
}

/*#project .left section#mozlinks-zhtw::before {
    background: url(../images/new_style/foxmosa-icon.gif) center -10px;
	background-size: contain;
}

#project .left section#moztw-forum::before {
    background: url(../images/new_style/foxmosa-icon.gif) center -10px;
	background-size: contain;
}*/

#moztw-general-news {
	margin-left: 20px;
	position: relative;
	word-wrap: break-word;
	word-break: normal;
}

#mailinglist {
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: hidden;
}

#mailinglist > * {
	float: right;
}

#mailinglist h3 {
	float: left;
	width: 300px;
}

#mailinglist input[type=email] {
	float: left;
	width: 300px;
}

#community {
	padding-top: 20px;
}

#community .container {
	width: 1020px;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	-ms-column-count: 3;
	-o-column-count: 3;
	column-count: 3;
	-webkit-column-width: 320px;
	-moz-column-width: 320px;
	-ms-column-width: 320px;
	-o-column-width: 320px;
	column-width: 320px;
	-webkit-column-rule: 0px;
	-moz-column-rule: 0px;
	-ms-column-rule: 0px;
	-o-column-rule: 0px;
	column-rule: 0px;
}

#community .container section {
	width: 320px;
	display: inline-block;
	margin: 0 0 15px;
	word-wrap: break-word;
	word-break: normal;
}

.btnfollowus {
	position: absolute;
	right: 0;
	top: -35px;
	cursor: pointer;
}

@media screen and (max-width: 1000px), screen and (max-device-width: 1000px){
	#key-point > * {
		float: left;
		width: 370px;
	}

	#key-point .cleanslate {
		float: right !important;
	}

	#key-point video {
		width: 340px !important;
		display: block !important;
	}

	#community .container {
		width: 780px;
		-webkit-column-width: 240px;
		-moz-column-width: 240px;
		-ms-column-width: 240px;
		-o-column-width: 240px;
		column-width: 240px;
	}
	
	#community .container section {
		width: 240px;
		display: inline-block;
		margin: 0 0 15px;
	}
	
	#project .left, #project .right {
		float: none;
	}

	#project .left {
		width: 100%;
	}
	
	#project .right {
		width: 100%;
	}

	#moztw-general-news {
		margin: 0;
		padding: 0;
	}

	#moztw-general-news li {
		list-style: none;
		border-bottom: 1px #CCC dotted;
		padding: 10px 0;
	}

	#mailinglist h3 {
		width: 200px;
	}
}

@media screen and (max-width: 820px), screen and (max-device-width: 820px){
	#key-point > * {
		width: 100%;
	}

	#key-point P {
		margin-top: 10px;
	}
	
	#key-point .cleanslate {
		float: none !important;
	}

	#key-point video {
		width: 100% !important;
		display: block !important;
	}

	#community .container {
		width: 530px;
		-webkit-column-count: 2;
		-moz-column-count: 2;
		-ms-column-count: 2;
		-o-column-count: 2;
		column-count: 2;
		-webkit-column-width: 250px;
		-moz-column-width: 250px;
		-ms-column-width: 250px;
		-o-column-width: 250px;
		column-width: 250px;
	}
}

@media screen and (max-width: 520px), screen and (max-device-width: 520px){
	#community {
		width: -webkit-calc(100% - 20px);
		width: -moz-calc(100% - 20px);
		width: -ms-calc(100% - 20px);
		width: -o-calc(100% - 20px);
		width: calc(100% - 20px);
		padding: 0 10px;
		overflow: hidden;
	}
	
	#community .container {
		width: 100%;
		-webkit-column-count: 1;
		-moz-column-count: 1;
		-ms-column-count: 1;
		-o-column-count: 1;
		column-count: 1;
		-webkit-column-width: 100%;
		-moz-column-width: 100%;
		-ms-column-width: 100%;
		-o-column-width: 100%;
		column-width: 100%;
	}
	
	#community .container section {
		width: 100%;
		display: inline-block;
		margin: 0 0 15px;
	}
	
	.menu li {
		width: 100%;
	}

	.menu li a {
		border: none;
	}

	.menu li:first-child {
		border-bottom: 1px #CCC dotted;
	}

	#project .left {
		width: -webkit-calc(100% - 20px);
		width: -moz-calc(100% - 20px);
		width: -ms-calc(100% - 20px);
		width: -o-calc(100% - 20px);
		width: calc(100% - 20px);
		padding: 0 10px;
	}
	
	#project .right {
		width: -webkit-calc(100% - 20px);
		width: -moz-calc(100% - 20px);
		width: -ms-calc(100% - 20px);
		width: -o-calc(100% - 20px);
		width: calc(100% - 20px);
		padding: 0 10px;
	}

	#project .left section {
		padding-left: 0;
	}

	#project .left section::before {
		display: none;
	}
	
	#mailinglist > * {
		float: none;
		width: 100%;
		margin: 10px 0;
	}

	#mailinglist {
		padding: 10px;
	}

	#mailinglist input[type=email] {
		width: -webkit-calc(100% - 22px);
		width: -moz-calc(100% - 22px);
		width: -ms-calc(100% - 22px);
		width: -o-calc(100% - 22px);
		width: calc(100% - 22px);
	}
}
