body.mascots {
    background: #FFFFFF url("../../images/mascots_i.png") repeat-x scroll 0 -776px;
}
#container {
    position: relative;
}
#icon-list {
    position: absolute;
    top: 70px;
    left: 0px;
    list-style: none;
    width: 300px;
    height: 150px;
    padding: 0;
    margin: 0;
}
#icon-list li {
    display: list-item;
    list-style: none;
    position: absolute;
    width: 100px;
    height: 115px;
    margin: 0 0;
}
#icon-list li.l1 {
    top: 27px;
    left: 57px;
}
#icon-list li.l2 {
    top: 101px;
    left: 100px;
}
#icon-list li.l3 {
    top: 27px;
    left: 142px;
}
#icon-list a:link, #icon-list a:visited {
    display: block;
    width: 100px;
    height: 115px;
    text-decoration: none;
    background-color: transparent;
    background-image: url("/images/mascots_i.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    position: relative;
}
#icon-list a:hover, #icon-list a:active {

}
#icon-list li.l1 a:link, #icon-list li.l1 a:visited {
    background-position: 0 -115px;
    top: 0px;
    left: 0px;
}
#icon-list li.l1 a:hover, #icon-list li.l1 a:active {
    background-position: 0 0;
    top: -5px;
    left: -10px;
}
#icon-list li.l2 a:link, #icon-list li.l2 a:visited {
    background-position: 0 -345px;
    top: 0px;
    left: 0px;
}
#icon-list li.l2 a:hover, #icon-list li.l2 a:active {
    background-position: 0 -230px;
    top: 10px;
    left: 0px;
}
#icon-list li.l3 a:link, #icon-list li.l3 a:visited {
    background-position: 0 -345px;
    top: 0px;
    left: 0px;
}
#icon-list li.l3 a:hover, #icon-list li.l3 a:active {
    background-position: 0 -230px;
    top: -5px;
    left: 10px;
}
#icon-list span {
    position: relative;
    top: 1000px;
    display:block;
}