img {
    max-width: 100%;
}

.key-point {
   padding: 30px;
   height: auto;
}


#main-feature div.grid-9 h2,
#main-feature div.grid-9 p {
    margin-left: 20px;
}
#main-feature div.grid-9 {
    margin-left: 10px;
}
#main-feature div.grid-3 {
    margin-left: 0;
}

.right {
   float: right;
   margin-left: 75px;
}
.grids > h4 {
   margin-left: 20px;
}
div[class^=grid-] > p {
   margin-top: 0;
}

main header {
  margin-top: 50px;
  text-align: center;
}
main header h1 {
  font-size: 42px;
  margin-bottom: 3px;
}
main header h2 {
  font-size: 30px;
  margin: 0 0 40px;
}

.top-bottom {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D7D9E8;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
    padding: 15px 20px 10px;
    width: 220px;
}


/*#top-features*/
#top-features {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D7D9E8;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
    padding: 15px 20px 10px;
    width: 260px;
}

#top-features2 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D7D9E8;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
    padding: 15px 20px 10px;
    width: 260px;
}

#top-features h3 {
    font-size: 18px;
    line-height: 1;
    margin: 0;
}
#main-feature #top-features p {
    font-size: 12px;
    margin: 0;
}
#top-features ul li {
    list-style: none outside none;
    margin-top: 15px;
    margin-left: -3em;
    position: relative;
}
#top-features ul li a {
    display: inline;
}
#top-features ul li a {
}
#top-features .top-feature-hover {
    background: url("../images/features/bubble.png") repeat scroll 0 0 transparent;
    border-radius: 15px 15px 15px 15px;
    bottom: -23px;
    display: none;
    height: 84px;
    left: -224px;
    padding: 20px 30px 28px 35px;
    position: absolute;
    width: 154px;
}
#top-features .top-feature-hover p {
    color: #FFFFFF;
    font-size: 11px;
}
#top-features .top-feature-hover h3 {
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    margin: 0 0 6px;
}


.grids  {width:960px;}
.grid-1 {width: 60px;}
.grid-2 {width:140px;}
.grid-3 {width:220px;}
.grid-4 {width:300px;}
.grid-5 {width:380px;}
.grid-6 {width:460px;}
.grid-7 {width:540px;}
.grid-8 {width:620px;}
.grid-9 {width:700px;}
.grid-10{width:780px;}
.grid-11{width:860px;}
.grid-12{width:940px;}
div[class^=grid-] {
  float:left;
  margin:0 0 0 20px;
}


#map {
  width:100%;
  height:200px;
}

#keyholders ol {margin: 0; padding: 0;}
#keyholders li {
  display: block;
  float: left;
  width: 150px;
  height: 150px;
  margin: 0px 10px 10px 10px;
}
#keyholders li img {
  border-radius: 100%;
  background-clip: padding-box;
  width: 100%;
  height: auto;
}

@media only screen and (max-width:960px) {

}

@media only screen and (max-width:830px) {

}

@media only screen and (max-width:735px) {

}


@media only screen and (max-width:433px) {
  .container.block .key-point {padding: 0px}
  
  main header h1 {font-size: 30px;}
  main header h2,h2 {font-size: 20px;}
  main header h3 {text-align: center;}

  div[class^="grid-"] {
    margin-left: 5px;
    margin-right: 5px;
  }

  .grids {margin-left:0;}

  #wrap {
    width: 280px !important;
    padding: 0px 20px;
  }

  .grids,
  .grid-4,
  .grid-6,
  .grid-12 {
    width: 280px;
  }

  #keyholders li {
    width: 64px;
    height: 64px;
  }

  .key-point {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #footer .grid-text{
    text-align: left;
  }

  #photos {
    display: none;
  }
}




/* overwrite .container p{margin:0} in sandstone, might need remove this after we nolonger use .container for divs on this page. */
.container p{margin-bottom: 14px;}


/* Copied from Mozilla.org sheet, should be add to the main sheet at some point. */

#site-title {
    font-size: 4.5em;
    letter-spacing: -3px;
    margin: 0px 0px 0.15em;
    transition: font-size 0s ease 0s, letter-spacing 0.5s ease-out 0s;
}

#site-description {
    color: #777;
}

#masthead {
    background-position: right top;
    background-repeat: no-repeat;
    margin: 0px;
    min-height: 120px;
    padding: 50px 0 0 0;
    position: relative;
    text-align: center;
}

 
#wrap { /* from OneMozilla */
  margin: 0 auto;
  position: relative;
  -moz-transition: padding, width .5s ease-out;
  -ms-transition: padding, width .5s ease-out;
  -o-transition: padding, width .5s ease-out;
  -webkit-transition: padding, width .5s ease-out;
  transition: padding, width .5s ease-out;
  width: 960px; /* was 1000px here */
}

