/*-------------------- Html structure -------------------*/
body {
	margin: 0px 0px 0px 2%;
	padding: 0px;
	line-height: 20px;
}
/* ----------------- Top Block -------------------*/
#title {
	float:left;
	width:80%;
	display: block;
	text-align: center;
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: "Times New Roman", Times, serif;
	border-top: 10px solid #CCCCCC;
}
#titleimg {
	float: left;
	width: 129px;
	height: 127px;
	margin: 0px 3px 0px 2%;
}
#topbar {
	width:100%;
}
#topmenu {
	float:left;
	width: 80%;
	text-align: center;
	margin: 0px;
	padding: 0px;
	background-color: #666666;
}
.menulink {
	color: #FFFFFF;
	font-weight: bolder;
	margin: 0px 2%;
	text-decoration: none;
}
#footbar {
	float:left;
	color: #999999;
	font-size:18px;
	width:95%;
	font-weight: bold;
	border-top: 2px solid #CCCCCC;
	border-bottom: 2px solid #CCCCCC;
	margin: 30px 0px 30px 0px;
	padding:0px;
}
/*------------------------ TEXT DECORATION --------------------*/
h1 {
	line-height:2;
	font-size: 250%;
	font-weight: bold;
	background-color: #CCFFCC;
	padding:0px;
	margin:0px;
}
h2 {
	color: #993300;
	border-bottom: solid;
}
h4 {
	border-bottom: 1px solid #CCCCCC;
}
hr {
	width:80%;
	clear:both;
	visibility:hidden;
}
hr.nohide {
	width:100%;
	clear:both;
	visibility: visible;
}
.emlink {
	font-weight: bold;
	text-align: center;
}
.fire {
	display: run-in;
	margin: 0px;
	color: #FF0000;
}
a {
	color: #3399FF;
	text-decoration: none;
}
a:hover {
	background-color:#FFFFCC;
}
/*	------------ */
#faq p {
	margin: 1em 2em;
}
#faq ol {
	margin: 1em 4em;
}