span.fire {
	display: run-in;
	margin: 0px;
	color: #FF0000;
}
.menulink {
	color: #FFFFFF;
	font-weight: bolder;
	margin: 0px 2%;
	text-decoration: none;
}
a {
	color: #3399FF;
	text-decoration: none;
}
.partyday {
	color:#3399FF;
	font-weight: bolder;
	margin: 0px 2%;
	text-decoration: none;
}
a:hover {
	color: #FF9900;
}
body {
	margin: 0px 0px 0px 2%;
	padding: 0px;
	line-height: 20px;
}
h1 {
	line-height:2;
	font-size: 250%;
	font-weight: bold;
	background-color: #CCFFCC;
	padding:0px;
	margin:0px;
}
h4 {
	border-bottom: 1px solid #CCCCCC;
}
#titleimg {
	float: left;
	width: 129px;
	height: 127px;
	margin: 0px 3px 0px 2%;
}
#title {
	float:left;
	width:80%;
	display: block;
	text-align: center;
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: "Times New Roman", Times, serif;
	border-top: 10px solid #CCCCCC;
}
#topbar {
	width:100%;
}
#topmenu {
	float:left;
	width: 80%;
	text-align: center;
	margin: 0px;
	padding: 0px;
	background-color: #666666;
}
hr {
	width:80%;
	clear:both;
	visibility:hidden;
}
div#leftbar {
	float: left;
	width:18%;
	padding: 0px 2% 0px 0px;
	margin:1px 0px 0px 2%;
}
#midbar {
	float:left;
	width: 45%;	
	margin: 0px 0px 2% 0px;
	padding: 0px;
}
.textbox {
	width: 85%;
	padding: 5px 0px;
	margin: 5px 0px 25px 6%;
	border-bottom: 1px solid #CCCCCC;
}
#midbar strong {
	color: #FF0000;
}
#rightbar {
	width: 247px;
	float: left;
	margin: 10px 0px 0px 0px;
	padding: 0px;
}
#rightbar h3 {
	margin-top: 0px;
	width:inherit;
}
#rightbar ul {
	width:180px;
}
#rightbar p {
	padding: 0px 10px 0px 10px;
}
.rightbox {
	margin: 0px;
	width:247px;
	padding: 5px 0px 0px 0px;
	background: no-repeat url('pics/sidebar_box_top.png');
}
.content {
	width: inherit;
	background:left repeat url('pics/sidebar_box_bg.png');
	padding: 10px 0px 1px 0px;
	margin: 0px;	
}
.subcontent {
	padding: 0px 3px 0px 10px;
}
.bottomline {
	background: no-repeat url('pics/sidebar_box_bottom.png');
	width: inherit;
	padding: 0px;
	margin: 0px;
}
#check {
	text-align: center;
}
#footbar {
	float:left;
	color: #999999;
	font-size:18px;
	width:95%;
	font-weight: bold;
	border-top: 2px solid #CCCCCC;
	border-bottom: 2px solid #CCCCCC;
	margin: 30px 0px 30px 0px;
	padding:0px;
}
.hh2 {
	width: 83%;
	font-size: 125%;
	font-weight: bolder;
	padding:1% 0px 1% 10px;
	margin: 30px 0px 0px 0px;
	border-bottom: 1px solid #FF9900;
	border-left: 30px solid #FF9900;
}
#midbar h2 {
	width:inherit;
	margin: 0px;
	padding: 0px;
}
