@charset "utf-8";
@import url(../../fonts/awesome.css);

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	border-top: 2px #FFF solid;
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 20px;
	font-family: 'Open Sans',sans-serif, "微软雅黑", "微軟正黑體", "文泉驛正黑", "文泉驛微米黑", "文泉驿微米黑";
	color: #333;
	background: white;
}

p{
	margin-bottom: 10px;
}

a {
	color: #0096DD;
	text-decoration: none;
}

a:link, a:visited {
	color: #2983C8;
}

a:hover, a:active {
	color: #0073AA;
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, .huge, .large {
	font-family: 'Open Sans Light',sans-serif;
	font-weight: normal;
	display: block;
	margin: 0 0 12px 0;
	line-height: 100%;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
	color: #484848;
}

.large {
	font-size: 72px;
	letter-spacing: -3px;
	line-height: 100%;
}

h1 {
	font-size: 48px;
	letter-spacing: -2px;
	line-height: 100%;
}

h2 {
	font-size: 32px;
	letter-spacing: -1px;
	line-height: 100%;
}

h3 {
	font-size: 28px;
	letter-spacing: -0.5px;
	line-height: 100%;
}

h4 {
	font-size: 24px;
	letter-spacing: -0.25px;
	line-height: 100%;
}

.small, small {
	font-size: 12px;
	line-height: 100%;
}

ul, ol{
	margin-left: 20px;
}

ul.unstyled, ol.unstyled{
	margin: 0;
	list-style: none;
}

.row{
	margin-left: -20px;
}

.row:after {
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
	content: ".";
}

.left{
	margin-left: 20px;
	float: left;
}

.right{
	margin-left: 20px;
	float: right;
}

/** fonts **/
.open-sans{
	font-family: 'Open Sans', sans-serif;
}

.open-sans-light{
	font-family: 'Open Sans Light', sans-serif;
	font-weight: normal;
}

.awesome{
	font-family: 'FontAwesome';
}

/** table **/
.table {
	border-collapse: collapse;
	border-spacing: 0;
}

.table thead th, .table thead td {
	border-top: 0;
	padding-top: 0;
	font-size: 16px;
	font-family: 'Open Sans Light',sans-serif;
	font-weight: normal;
}

.table th, .table td {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	padding: 10px 20px 10px 0;
	text-align: left;
}

/** buttons **/
.button, .button:link, .button:visited {
	display: inline-block;
	-moz-border-radius: .25em;
	border-radius: .25em;
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2);
	background-color: #3C88CC;
	background-color: #276195;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#3C88CC),to(#276195));
	background-image: -moz-linear-gradient(#3C88CC,#276195);
	background-image: -ms-linear-gradient(#3C88CC,#276195);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#3C88CC),color-stop(100%,#276195));
	background-image: -webkit-linear-gradient(#3C88CC,#276195);
	background-image: -o-linear-gradient(#3C88CC,#276195);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c88cc',endColorstr='#276195',GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c88cc', endColorstr='#276195', GradientType=0)";
	background-image: linear-gradient(#3C88CC,#276195);
	color: white;
	text-align: center;
	font-size: 14px;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	min-width: 100px;
	border: 0;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	font-family: 'Open Sans',sans-serif;
	-webkit-transition: all linear .25s;
	-moz-transition: all linear .25s;
	-o-transition: all linear .25s;
	-ms-transition: all linear .25s;
	transition: all linear .25s;
}

.button, .button-white {
	cursor: pointer;
}

.button:hover, .button:link:hover, .button:visited:hover, .button.hover, .button:link.hover, .button:visited.hover, .button:focus, .button:link:focus, .button:visited:focus, .button.focus, .button:link.focus, .button:visited.focus {
	-webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 2px #3089d8;
	-moz-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 2px #3089d8;
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 2px #3089d8;
	color: white;
	text-decoration: none;
	-webkit-transition: all linear .25s;
	-moz-transition: all linear .25s;
	-o-transition: all linear .25s;
	-ms-transition: all linear .25s;
	transition: all linear .25s;
}

.button:active, .button:link:active, .button:visited:active, .button.active, .button:link.active, .button:visited.active {
	-webkit-box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
	box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
	color: white;
	text-decoration: none;
	-webkit-transition: all linear .25s;
	-moz-transition: all linear .25s;
	-o-transition: all linear .25s;
	-ms-transition: all linear .25s;
	transition: all linear .25s;
}

.button-negative:hover, .button-negative:link:hover, .button-negative:visited:hover, .button-negative:focus, .button-negative:link:focus, .button-negative:visited:focus {
	-webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 2px #e64926;
	-moz-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 2px #e64926;
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 2px #e64926;
}

.button-negative:active, .button-negative:link:active, .button-negative:visited:active, .button-negative.active, .button-negative:link.active, .button-negative:visited.active {
	-webkit-box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
	box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
	color: white;
	text-decoration: none;
	-webkit-transition: all linear .25s;
	-moz-transition: all linear .25s;
	-o-transition: all linear .25s;
	-ms-transition: all linear .25s;
	transition: all linear .25s;
}

.button-negative, .button-negative:link, .button-negative:visited {
	display: inline-block;
	-moz-border-radius: .25em;
	border-radius: .25em;
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2);
	background-color: #3C88CC;
	background-color: #276195;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#3C88CC),to(#276195));
	background-image: -moz-linear-gradient(#3C88CC,#276195);
	background-image: -ms-linear-gradient(#3C88CC,#276195);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#3C88CC),color-stop(100%,#276195));
	background-image: -webkit-linear-gradient(#3C88CC,#276195);
	background-image: -o-linear-gradient(#3C88CC,#276195);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c88cc',endColorstr='#276195',GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c88cc', endColorstr='#276195', GradientType=0)";
	background-image: linear-gradient(#3C88CC,#276195);
	color: white;
	text-align: center;
	font-size: 14px;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	min-width: 100px;
	border: 0;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	font-family: 'Open Sans',sans-serif;
	-webkit-transition: all linear .25s;
	-moz-transition: all linear .25s;
	-o-transition: all linear .25s;
	-ms-transition: all linear .25s;
	transition: all linear .25s;
	cursor: pointer;
	background-color: #A91300;
	background-color: #A91300;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#DA5132),to(#A91300));
	background-image: -moz-linear-gradient(#DA5132,#A91300);
	background-image: -ms-linear-gradient(#DA5132,#A91300);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#DA5132),color-stop(100%,#A91300));
	background-image: -webkit-linear-gradient(#DA5132,#A91300);
	background-image: -o-linear-gradient(#DA5132,#A91300);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#da5132',endColorstr='#a91300',GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#da5132', endColorstr='#a91300', GradientType=0)";
	background-image: linear-gradient(#DA5132,#A91300);
}

.button.insensitive, .button:link.insensitive, .button:visited.insensitive, .button.insensitive:hover, .button:link.insensitive:hover, .button:visited.insensitive:hover, .button.insensitive:focus, .button:link.insensitive:focus, .button:visited.insensitive:focus {
	background-color: #9CA3AA;
	background-color: #9CA3AA;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#BFC7CD),to(#9CA3AA));
	background-image: -moz-linear-gradient(#BFC7CD,#9CA3AA);
	background-image: -ms-linear-gradient(#BFC7CD,#9CA3AA);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#BFC7CD),color-stop(100%,#9CA3AA));
	background-image: -webkit-linear-gradient(#BFC7CD,#9CA3AA);
	background-image: -o-linear-gradient(#BFC7CD,#9CA3AA);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfc7cd',endColorstr='#9ca3aa',GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfc7cd', endColorstr='#9ca3aa', GradientType=0)";
	background-image: linear-gradient(#BFC7CD,#9CA3AA);
	-webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2);
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2);
	color: #EEE;
}

/** tooltip **/
.tooltip {
	color: white;
	font-weight: bold;
	text-shadow: 0 1px #333;
	text-align: center;
	line-height: 16px;
	background-color: #AA1401;
	background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(218, 81, 50, 0.9)),to(#A91300));
	background-image: -webkit-linear-gradient(top,rgba(218, 81, 50, 0.9),#A91300);
	background-image: -moz-linear-gradient(top,rgba(218, 81, 50, 0.9),#A91300);
	background-image: -ms-linear-gradient(top,rgba(218, 81, 50, 0.9),#A91300);
	background-image: -o-linear-gradient(top,rgba(218, 81, 50, 0.9),#A91300);
	background-image: linear-gradient(top,rgba(218, 81, 50, 0.9),#A91300);
	border-radius: 4px;
	padding: 10px 15px;
	box-shadow: 0 1px #666;
	max-width: 275px;
	position: relative;
}

.tooltip::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 15px;
	border-top: 10px solid blue;
	border-top-color: #A91300;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
