#mainContent{
	margin-left: 0;
}
.key-point {
	background: #e4ecec url("/images/feature-firefox-2-party.jpg") 130% 30% no-repeat;
	padding: 15px;
	margin-bottom: 1em;
	position: relative;
}
#feature {
	height: 130px;
	margin-right: 65%;
	position: relative;
	background: url(bg-alpha.png);
}
#feature h2{
	background: url(/images/event-firefox-2-events.png) no-repeat;
	padding-top: 55px;
	height: 0;
	width: 245px;
	overflow: hidden;
}

ul#global-info {
	margin:0; padding:0; list-style: none;
	position: absolute;
	right: 10px;
	bottom: 8px;
}
ul#global-info li{
	display: block;
	float: left;
	margin: auto 3px;
}
ul#global-info li a{
	padding: 3px;
	background-color: #FFF;
	border: 1px solid #000;
}
/*=======================
  三個 promote block
  =======================*/

.item-block{
	background: transparent url(/images/green-corner-box.jpg) left top no-repeat;
	padding: 12px 15px 20px;
	margin: 0 1%;
	float: left;
	width: 28%;
}
.item-block img{
	float: left;
}
.item-block h3{
	font-size: 1.3em;
	font-weight: bold;
	margin: 0 0 0 40px;
	border: none;
}
.item-block h3 a:link{
	text-decoration: none;
}
.item-block h3 a:visited{
	color: navy
	text-decoration: none;
}
.item-block p{
	margin: 0 0 auto 40px;
}
#street-block{
	float: none;
	margin-left: 68%;
	width: auto;
}

/*=======================
  content
  =======================*/

div.information {
	margin-left: 25%;
}
div.information h2 {
	margin-left: -2.2em;
}
div.information h2 img{
	width: 1em;
	height: 1em;
}

div.information table {
	width: 98%;
	margin: .3em auto 1em;
}

div.information table th{
	background: #000;
	color: #FFF;
}

div.information table td{
	border-bottom: 1px solid gray;
}

/*=======================
  sponsor
  =======================*/

#sponsor {
	background: transparent url(/images/gray-corner-box.jpg) left top no-repeat;
	padding: 5px 5px 5px;
	margin: 50px 1% auto;
}
#sponsor h2 {
	font-size: 1.2em;
	margin:0;
	border-bottom: none;
	clear: both;
}
#sponsor ul{
	margin:1em 0; padding:0; list-style: none;
}
#sponsor ul li{
	display: block;
	float: left;
	margin: .2em .3em;
	height: 50px;
}
#sponsor ul li a{
	display: block;
	height: 100%;
	width: 100%;
}
#sponsor ul.campustour{
clear: both;
}
#sponsor ul.campustour li{
height: auto;
margin-left: 1em;
margin-right: 1em;
}