#mainContent{
	margin-left: 0;
}
.front-feature {
	background: #e4ecec url("feature_bg.jpg") no-repeat scroll center left !important;
}
#feature {
	padding:6px;
	height: 150px;
	margin-left: 55%;
	position: relative;
	background: url(bg-alpha.png);
}
#feature h2{
	background: url(feature_title.png) no-repeat;
	padding-top: 30px;
	height: 0;
	width: 275px;
	overflow: hidden;
}

/*
ul#global-info {
	margin:0; padding:0; list-style: none;
	position: absolute;
	right: 2px;
	bottom: 2px;
}
ul#global-info li{
	display: block;
	float: left;
	margin: auto 3px;
}
*/

/*=======================
  各場次資料
  =======================*/

#tab-scroll {
	font-size:1.3em;
	width:17%;
	float:left;
	-moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color:#E0F7C5;
}
#tab-scroll a{
	color: navy;
	text-decoration:none;
}
#tab-scroll ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
#tab-scroll li{
  display:block;
	margin-top:0.5em;
	padding:0.2em;
	-moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
#tab-scroll li .active{
	font-weight:bold;
}

.tab-block{
	margin-left:18%;
}

.item-block{
	float:left;
	/*width: 78%;*/
	width: 30%;
	padding:1%;
	margin-left:1%;
	-moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color:#E0F7C5;
}
.item-block h3{
	font-size: 1.3em;
	font-weight: bold;
	border: none;
	color: navy;
	margin:0.2em 0;
}

.applyLater{
	margin:0.5em 1em;
	height:35px;
}
.applyNow{
	background: url(apply_now.gif) no-repeat;
	margin:0.5em 1em;
	height:35px;
	width:105px;
	overflow: hidden;
}
.applyNow a{
	height:35px;
	width:105px;
	display:block;
	padding-top:1000px;
}
.applyNow a:hover{background:none;}
#mainContent{
	float: none;
	line-height:2em;
	width:100%;
}
/*=======================
  sponsor
  =======================*/
/*
#sponsor {
	background: transparent url(/images/gray-corner-box.jpg) left top no-repeat;
	padding: 5px 5px 5px;
	margin: 50px auto;
	max-width:70em;
  padding:10px;
  clear: both;
}

#sponsor h2 {
	font-size: 1.2em;
	margin:0;
	border-bottom: none;
	clear: left;
	width: 6em;
}
#sponsor p {
    margin-left: 7.4em;
    border-bottom: 1px solid #ccc;
    text-align: center;
    width: 70%;
}
#sponsor p img {
    display: block;
    margin: 0 auto;
}
#sponsor ul{
	margin: -1.3em 0 1em 7em; padding:0; list-style: none;
}
#sponsor ul li{
	display: block;
	float: left;
	margin: .5em 1em;
}
#sponsor ul li a{
	display: block;
	height: 100%;
	width: 100%;
}
#sponsor ul.logo li{
	height: 40px;
	margin: .2em .3em;
}
#sponsor ul.logo img{
	border: 1px solid black;
}
*/