@import url(http://fonts.googleapis.com/css?family=Oxygen);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

body{
	font-family:"微软雅黑", "微軟正黑體", "文泉驛微米黑", "文泉驿微米黑", "Arial";
	font-size:14px;
	color:#666;
	background:#F1F1F1 url(../images/furley_bg.png);
	margin-top: 20px;
}

a{
    text-decoration:none;
    color:#1AB4FF;
}

img{
	vertical-align: middle;
}

input, textarea{
	border:1px #CCC solid;
	outline:none;
	color:#666;
	font-family:"微软雅黑", "微軟正黑體", "文泉驛微米黑", "文泉驿微米黑", "Arial";
	font-size:14px;
}

input[type="submit"]{
	cursor:pointer;
}

.row{
	zoom: 1;
}

.row:before, .row:after{
	display: table;
	content: "";
	zoom: 1;
}

.row:after{
	clear: both;
}

.right{
	float:right;
}

.left{
	float:left;
}

.container{
	width: 760px;
	margin: 0 auto;
}

.separate{
	background: #EEE;
	height: 3px;
	position: relative;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
	-ms-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
	-o-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
}

#main > section{
	margin-top: 20px;
}

#main > section > h2{
	text-align: right;
	font-size: 24px;
	line-height: 36px;
	height: 24px;
	overflow: hidden;
	color: #666;
	margin-bottom: 20px;
	border-bottom: 1px #CCC solid;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#main > section:hover > h2{
	line-height: 24px;
}

#main > section h3{
	font-size: 16px;
	border-left: 2px #999 solid;
	padding-left: 10px;
	margin: 20px 0;
	font-weight: bold;
}

#header{
	width: 760px;
	margin: 0 auto;
}

#header2{
	border-bottom: 1px #CCC solid;
	margin-top: 20px;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
	height: 150px;
	background: url(../images/Ubuntu_x_Firefox_12_.04__Release_Party_-_Landscape_520.png) no-repeat bottom;
	-webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
	-ms-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
	-o-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#header2:hover{
	height: 506px;
}

#header2 h1{
	font-family: 'Oxygen', serif;
	font-size: 36px;
	letter-spacing: 3px;
	color: #FFF;
	text-shadow: 0 2px 5px rgba(0,0,0,0.5);
	text-align: center;
	line-height: 120px;
}

#introduction{
	text-align: center;
	line-height: 30px;
}

#introduction p{
	margin: 10px 0;
}

#sponsership{
	text-align: center;
	line-height: 30px;
}

#info .content{
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
	-o-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
	box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}

#info > h2{
	display: none;
}

#map{
	height: 200px;
	width: 760px;
}

#photos .content{
	position: relative;
	height: 300px;
	background: #FFF;
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
	-o-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
	box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}

#photos .content ul{
	position: relative;
	overflow: hidden;
	height: 300px;
	width: 100%;
}

#photos .content ul li{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	display: none;
	text-align: center;
}

#photos .content ul img{
	max-width: 760px;
	max-height: 300px;
	width: auto;
	height: auto;
}

#photos .content .left-btn{
	position: absolute;
	width: 60px;
	height: 200px;
	right: -60px;
	top: 50px;
	background: url(../images/right.png);
	opacity: 0.3;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}

#photos .content .right-btn{
	position: absolute;
	width: 60px;
	height: 200px;
	left: -60px;
	top: 50px;
	background: url(../images/left.png);
	opacity: 0.3;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}

#photos .content .left-btn:hover, #photos .content .right-btn:hover{
	opacity: 0.8
}

#information ul{
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#information ul li{
	border-left: 1px solid #CCC;
    line-height: 1.75em;
    list-style: none outside none;
    margin: 5px 0;
    padding-left: 10px;
}

#footer{
	border-top: 1px #CCC solid;
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);
	text-align: center;
	/*line-height: 60px;*/
	margin: 40px auto 20px;
	width: 760px;
	margin: 0 auto;
}

#bnav{
	position: fixed;
	right: 0;
	top: 20%;
	width: 50px;
}

#bnav li{
	list-style: none;
	overflow: hidden;
	height: 40px;
	width: 70px;
	margin-left: 0px;
	background: #772953;
	line-height: 40px;
	margin-bottom: 1px;
	padding: 0 10px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#bnav li > a{
	float: left;
	width: 100%;
	height: 100%;
	color: #FFF;
}

#bnav li:hover{
	margin-left: -40px;
	background: #F60;
}

#bnav li:hover a{
	background: none;
}

/* from registrano */
.registration a.register-now {
    background: url("http://registrano.com/images/themes3/logo-button.png") no-repeat scroll 22px 12px #417897;
    border-radius: 7px 7px 7px 7px;
    color: #FEFFFE;
    display: block;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    margin: 35px auto;
    opacity: 0.9;
    padding: 0 15px 0 45px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.62);
    width: 150px;
}
.registration a.register-now:hover {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 5px rgba(255, 254, 255, 0.44);
}
