#event-list{
	position:relative;
	width:910px;
	margin:40px auto;
}

#event-list > .events{
	width:460px;
	border-right:6px #EEE solid;
}

#event-list > .event-des{
	position:absolute;
	right:0;
	top:100px;
	width:420px;
	padding:20px 0;
	line-height:30px;
	-webkit-transition:top 0.5s ease;
	-moz-transition:top 0.5s ease;
	-ms-transition:top 0.5s ease;
	-o-transition:top 0.5s ease;
	transition:top 0.5s ease;
	background-color: #fff; 
}

#event-list > .event-des > .content{
	background-image: -webkit-linear-gradient(#eee .05em, transparent .05em);
	background-image: -moz-linear-gradient(#eee .05em, transparent .05em);
	background-image: -ms-linear-gradient(#eee .05em, transparent .05em);
	background-image: -o-linear-gradient(#eee .05em, transparent .05em);
	background-image: linear-gradient(#eee .05em, transparent .05em);
	background-size: 100% 30px;
	border:1px #EEE solid;
	padding:0 10px;
	color:#666
}

#event-list > .event-des > .content > .eventgallery{
	background:#FFF;
	position:relative;
	height:300px;
	overflow:hidden;
	line-height:300px;
}

#event-list > .event-des > .content > .eventgallery .prev-photo, #event-list > .event-des > .content > .eventgallery .next-photo{
	position:absolute;
	bottom:0;
	line-height:30px;
	width:100px;
	text-align:center;
	border-top:1px #CCC solid;
	cursor:pointer;
	background-color: #EEE;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#DDD)); 
	background-image: -webkit-linear-gradient(top, #EEE, #DDD); 
	background-image:    -moz-linear-gradient(top, #EEE, #DDD); 
	background-image:     -ms-linear-gradient(top, #EEE, #DDD); 
	background-image:      -o-linear-gradient(top, #EEE, #DDD); 
	background-image:         linear-gradient(to bottom, #EEE, #DDD);
}

#event-list > .event-des > .content > .eventgallery .prev-photo{
	left:0;
	border-right:1px #CCC solid;
}

#event-list > .event-des > .content > .eventgallery .next-photo{
	right:0;
	border-left:1px #CCC solid;
}

#event-list > .event-des > .content > .eventgallery ul{
	margin:0;
	padding:0;
}

#event-list > .event-des > .content > .eventgallery ul li{
	height:300px;
	text-align:center;
	list-style:none;
	padding:0;
	margin:0;
}

#event-list > .event-des > .content > .eventgallery img{
	max-height:290px;
	max-width:60px;
	padding:5px;
	background:#FFF;
}

#event-list > .event-des > .prev-event{
	position:absolute;
	top:-36px;
	left:50%;
	margin-left:-35.35px;
	border-left:10px #CCC solid;
	border-top:10px #CCC solid;
	width:50px;
	height:50px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	text-indent:-999999px;
	overflow:hidden;
}

#event-list > .event-des > .next-event{
	position:absolute;
	bottom:-36px;
	left:50%;
	margin-left:-35.35px;
	border-left:10px #CCC solid;
	border-top:10px #CCC solid;
	width:50px;
	height:50px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
	text-indent:-999999px;
	overflow:hidden;
}

#event-list > .events > article{
	width:440px;
	margin-top:20px;
	border:1px #CCC solid;
	-moz-border-radius: 0 0 10px 0;
	-webkit-border-radius: 0 0 10px 0;
	-ms-border-radius: 0 0 10px 0;
	-o-border-radius: 0 0 10px 0;
	border-radius: 0 0 10px 0;
}

#event-list > .events > article.on{
	box-shadow:0 0 10px #1F7DFF;
	border-color:#1F7DFF;
}

#event-list > .events > article.on .arrow:before{
	border-color:#1F7DFF;
}

#event-list > .events > article > .photo{
	height:90px;
	-moz-border-radius: 0 0 10px 0;
	-webkit-border-radius: 0 0 10px 0;
	-ms-border-radius: 0 0 10px 0;
	-o-border-radius: 0 0 10px 0;
	border-radius: 0 0 10px 0;
}

#event-list > .events > article > .content{
	display:none;
}

#event-list > .events > article > header{
	position:relative;
	height:30px;
	line-height:30px;
	padding:0 10px;
	background-color: #EEE;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#DDD)); 
	background-image: -webkit-linear-gradient(top, #EEE, #DDD); 
	background-image:    -moz-linear-gradient(top, #EEE, #DDD); 
	background-image:     -ms-linear-gradient(top, #EEE, #DDD); 
	background-image:      -o-linear-gradient(top, #EEE, #DDD); 
	background-image:         linear-gradient(to bottom, #EEE, #DDD);
	border-bottom:1px #CCC solid;
}

#event-list > .events > article > header > h2{
	font-size:14px;
	font-weight:normal;
	margin:0;
	padding:0;
}

#event-list > .events > article > header > time{
	position: absolute;
	right:0;
	top:0;
	width:100px;
	text-align:center;
	color: #666;
	letter-spacing: 1px;
	font-size:12px;
	border-left:1px #CCC solid;
	-webkit-box-shadow: -1px 0 1px #FFF;
	-moz-box-shadow: -1px 0 1px #FFF;
	-ms-box-shadow: -1px 0 1px #FFF;
	-o-box-shadow: -1px 0 1px #FFF;
	box-shadow: -1px 0 1px #FFF;
	background-color: white;
	background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(whiteSmoke));
	background-image: -webkit-linear-gradient(top, white, whiteSmoke);
	background-image: -moz-linear-gradient(top, white, whiteSmoke);
	background-image: -ms-linear-gradient(top, white, whiteSmoke);
	background-image: -o-linear-gradient(top, white, whiteSmoke);
	background-image: linear-gradient(to bottom, white, whiteSmoke);
}

#event-list > .events > article.on > header > time:before{
	background:#1F7DFF;
}

#event-list > .events > article > header > time:before{
	content:'';
	position:absolute;
	right:-25px;
	top:50%;
	margin-top:-3px;
	background:#CCC;
	width:6px;
	height:6px;
	z-index:1;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

#event-list > .events > article > header > time:after{
	width:10px;
	background:#FFF;
	content:'';
	position:absolute;
	right:-25px;
	height:16px;
	top:50%;
	margin-top:-8px;
	z-index:0;
}

#event-list > .events > article > header > .arrow{
	position: absolute;
	width:10px;
	height:10px;
	overflow:hidden;
	top:9px;
	right:-8px;
	z-index:1;
}

#event-list > .events > article > header > .arrow:before{
	content:'';
	position: absolute;
	width:10px;
	height:10px;
	border-left:1px #CCC solid;
	border-top:1px #CCC solid;
	background:#FFF;
	top:0;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	left:-5px;
}

#event-list > .events > article.small{
	position:relative;
	width:280px;
	margin-left:160px;
}

#event-list > .events > article.small > .thub{
	position:absolute;
	top:50%;
	margin-top:-55px;
	left:-160px;
	width:100px;
	height:100px;
	padding:5px;
	background:#FFF;
	border:1px #CCC solid;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 0 5px rgba(0,0,0,0.5);
	-ms-box-shadow:0 0 5px rgba(0,0,0,0.5);
	-o-box-shadow:0 0 5px rgba(0,0,0,0.5);
	box-shadow:0 0 5px rgba(0,0,0,0.5);
}

#event-list > .events > article.small > .eventgallery{
	display:none;
}

#event-list > .events > article.small > .eventgallery img{
	width:80px;
	height:80px;
}

#calendar{
	width:440px; height:180px; border:none;
	-webkit-transition:height 0.5s ease;
	-moz-transition:height 0.5s ease;
	-ms-transition:height 0.5s ease;
	-o-transition:height 0.5s ease;
	transition:height 0.5s ease;
}

#calendar:hover{
	height:350px;
}

#event-list > .events > .group{
	height:92px;
	overflow:hidden;
	margin-top:20px;
	margin-left:-24px;
}

#event-list > .events > .group > article{
	width:80px;
	height:80px;
	float:left;
	padding:5px;
	border:1px #CCC solid;
	margin-left:24px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

#event-list > .events > .group > article > ul, #event-list > .events > .group > article > div, #event-list > .events > .group > article > header{
	display:none;
}

#event-list > .events > .group > article img{
	width:80px;
	height:80px;
}