* {
	border: 0;
	margin: 0;
	padding: 0;
}

body{
	font-family: "Heiti TC", "LiHei Pro", "微軟正黑體", "WenQuanYi - Micro Hei", "Arial", sans-serif;
	color:#666;
	background:#F1F1F1 url(furley_bg.png);
	margin-top: 20px;
	font-size: 14px;
}

a{
    text-decoration:none;
    color:#1AB4FF;
}

.right{
	float:right;
}

.left{
	float:left;
}

.container{
	width: 760px;
	max-width: 90%;
	margin: 0 auto;
}

#header{
	width: 760px;
	max-width: 90%;
	margin: 0 auto;
}

section h1, h2 {
    border: none;
    font-size: 2em;
    margin-top: 0em;
    text-align: center;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

header h2{
    color: #C8C8C8;
    font-size: 1.5em;
    left: 35px;
    opacity: 0.95;
    position: absolute;
    text-shadow: 0 0 5px #80FFFF;
    top: 30px;
}

header h1 {
    top: 30px;
    font-size: 2.5em;
    opacity: 0.9;
    position: absolute;
    left: 35px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px 5px 5px 5px;
}
/*
header h1 .appe {
    bottom: 2px;
    color: #8BE3EA;
    display: inline-block;
    font-size: 0.6em;
    left: 150px;
    opacity: 0.85;
    position: absolute;
    text-shadow: 0 0 2px #8BE3EA;
    width: 3em;
}
*/
#header2{
    position: relative;
	border-bottom: 1px #CCC solid;
	margin-top: 20px;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
	-ms-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
	-o-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#header2 h1{
	border-bottom: none;
}

#header2 img{
	width: 100%;
    border-radius: 5px 5px 5px 5px;
}

#photos .content{
	position: relative;
}

#photos .content ul{
	position: relative;
	overflow: hidden;
	height: 400px;
	width: 100%;
}

#photos .content ul li{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	display: none;
	text-align: center;
	list-style: none;
	border-left: none;
}

#photos .content ul img{
	max-width: 760px;
	max-height: 400px;
	width: auto;
	height: auto;
	background: #FFF;
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
	-o-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
	box-shadow: 0 1px 5px rgba(0,0,0,0.5);
	
}

#photos .content .left-btn{
	position: absolute;
	width: 60px;
	height: 200px;
	right: -60px;
	top: 50px;
	background: url(images/right.png);
	opacity: 0.3;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}

#photos .content .right-btn{
	position: absolute;
	width: 60px;
	height: 200px;
	left: -60px;
	top: 50px;
	background: url(images/left.png);
	opacity: 0.3;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}

#photos .content .left-btn:hover, #photos .content .right-btn:hover{
	opacity: 0.8
}

#main section{
	margin-top: 3em;
}

#main h2{
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    font-size: 1.8em;
    margin: 2em 0 0.8em 0;
    text-align: center;
}

#main h3{
	border-bottom: medium none;
	border-left: 2px solid #999999;
	font-size: 16px;
	font-weight: bold;
	margin: 3em 0 1em;
	padding-left: 10px;
}

#main .appendix{
    border-left: 2px solid #BBB;
    font-size: 0.9em;
    font-weight: normal;
    margin-left: 2em;
    padding-left: 5px;
}

#main li {
    border-left: 2px solid #999999;
    display: block;
    line-height: 1.5em;
    margin: 1em 0;
    padding-left: 10px;
}

#main .event-attendees-list li {
    border-left: none;
    display: inline;
    line-height: normal;
}

#main .event-attendees-list li img {
    height: 48px;
    widows: 48px;
}
#main #mdn li {
    display: inline-block;
    margin-right: 2em;
}

#introduction{
	text-align: center;
	line-height: 30px;
}

#sponsership{
	text-align: center;
	margin: 3em 0;
}


#footer{
	border-top: 1px #CCC solid;
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);
	text-align: center;
	margin: 40px auto 20px;
	width: 760px;
	max-width: 90%;
	margin: 0 auto;
}

#footer p {
    text-align: center;
}

p {
	text-align: left;
	line-height: 30px;
    margin: 1em 15px;   
}

.homepage blockquote p {
    margin: 1em 40px;
    text-align: left;
}

/* from registrano */
a.event-link {
    background: url("http://registrano.com/images/themes3/logo-button.png") no-repeat scroll 22px 12px #417897;
    border-radius: 7px 7px 7px 7px;
    color: #FEFFFE;
    display: block;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    margin: 35px auto;
    opacity: 0.9;
    padding: 0 15px 0 45px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.62);
    width: 150px;
}
a.event-link:hover {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 5px rgba(255, 254, 255, 0.44);
}
.event-title{
	display: none;
}
.bd{
	text-align: center;
	line-height: 30px;
}

#map {
	height: 480px;
	border-radius: 8px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

a.event-link.fallback-register-button {
    display: none;
}

#mozGallery {
    margin: 0 -1em;
}
#mozGallery .photoList {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0.3);
    border-image: none;
    border-style: solid;
    border-width: 2px 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    margin: 0 0 0.5em;
    overflow-x: scroll;
    padding: 0.5em 1em;
}
#mozGallery .photoList li {
    display: inline;
    margin: 0 0.2em;
    white-space: nowrap;
}
#mozGallery .photoList li img {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../loading.gif");
    background-origin: padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px auto;
    height: 45px;
    vertical-align: middle;
    width: 45px;
}
#mozGallery .link {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../loading.gif");
    background-origin: padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px auto;
    display: block;
    height: 240px;
    text-align: center;
}
#mozGallery .link img {
    max-height: 240px;
}
#mozGallery .attribution {
    display: block;
    text-align: center;
}

@media (max-width: 500px) {
	body{
		margin-top: 30px;
	}
	#map {
		height: 280px;
	}
	#mozGallery .link img {
		width: 100%;

	}
	header h2{
		left: 5%;
	}
	header h1{
		bottom: 10%;
		right: 10%;
	}
	a.event-link.fallback-register-button {
	    display: block;
	}
}

#schedule  th.timing { width: 120px; }
#schedule.jqs th.subject { width: 535px; }
#schedule.jq th.hoster { width: 100px; }
#schedule.jq h3 + .intro { display: none; }

