img {
    max-width: 100%;
}

section, section * {
  box-sizing: border-box;
}

.right {
   float: right;
   margin-left: 75px;
}


.key-point {
   height: auto;
   padding: 0;
}
.key-point > div {
  margin: 2em 0;
  padding: 0 20px;
}

#product-desc {
   background: url("../images/product-thunderbird-screen-kai.png") no-repeat 40px 0;
   margin: 2em 0 1em;
}
#product-desc p {
   padding: 95px 0 2em 225px;
}


/* main-feature */
#main-feature .grid-9 {
  margin-bottom: 1em;
  padding-left: 40px;
}

.feature-links {
    float: left;
    background: url("../images/features/dottedline-background.png") 0 -15px no-repeat;
    margin-left: -10px;
    padding: 40px 0 0;
}

.feature-links li {
    float: left;
    list-style-type: none;
    margin: 0 60px 0 0;
}

.feature-links li:last-of-type {
  margin-right: 0;
}

.feature-links li a,
.feature-links li a:link,
.feature-links li a:visited {
    color: #484848;
    display: block;
    padding: 0 0 2px;
}

.feature-links li a span {
    display: block;
}

.feature-links li a .feature-link-content {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


.feature-links li a .feature-link-content {
    background: url("../images/features/menu-icons.png") 50% 0 no-repeat;
    width: 112px;
    line-height: 16px;
    text-align: center;
    display: block;
    padding-top: 110px;
    cursor: pointer; /* For IE */
    position: relative;
    top: 0;
}

.feature-links li a:hover .feature-link-content {
    top: -8px;
}

.feature-links li a:active .feature-link-content {
    top: -5px;
}

.feature-links li#get-started a .feature-link-content { background-position: 50% -355px; }
.feature-links li#tabs-search a .feature-link-content { background-position: 50% -1065px; }
.feature-links li#customize a .feature-link-content { background-position: 50% 0; }
.feature-links li#secure-protect a .feature-link-content { background-position: 50% -710px; }


/*#top-features*/
#top-features {
    border: 1px solid #D7D9E8;
    border-radius: 6px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
    padding: 15px 20px 10px;
    margin: 3em 0 0;
}
#top-features h3 {
    font-size: 22px;
}
#top-features p {
    font-size: 12px;
}
#top-features ul li {
    list-style: none;
    margin-top: 15px;
    margin-left: -3em;
    position: relative;
}
#top-features .top-feature-hover {
    background: url("../images/features/bubble.png");
    border-radius: 15px;
    bottom: -23px;
    display: none;
    height: 124px;
    left: -224px;
    padding: 20px 30px 28px 35px;
    position: absolute;
    width: 220px;
    color: #FFFFFF;
}
#top-features .top-feature-hover p {
    font-size: 12px;
}
#top-features .top-feature-hover h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 6px;
}


/* article section */
article.module {
    padding: 40px 50px;
    width: auto;
    margin-left: -20px;
}
article.module .grid-6 {
    padding-right: 40px;
    width: 440px;
}
article.module .grid-12 {
    padding-right: 40px;
    width: 900px;
}
article.module h4 {
    margin: 0.5em 0 0.75em;
}
.grids > h4 {
   margin-left: 20px;
}


#additional .grid-6 {
  margin-bottom: 1em;
  padding-left: 40px;
}

#additional .compact {
  margin-left: -1em;
}

#additional #tb-fans {
  text-align: center;
}
#additional #tb-fans h3 {
  font-size: 1.5em;
  margin-top: 0.5em;
}

/* 螢幕寬度較小調整 in width 940px ----------- */
@media only screen and (max-width:940px) {
   #top-features {
      display: none;
   }
   .feature-links {
      background: none;
   }
}
@media only screen and (max-width:433px) {
   .feature-links li a .feature-link-content  {
      /*background: none;*/
      display: block;
      width: 60px;
      font-size: 14px;
      font-style: italic;
      line-height: 16px;
      text-align: left;
      /*padding: 5px;*/
      cursor: pointer; /* For IE */
      position: relative;
      top: 0;
   }
   .feature-links li {
      margin-right: 5px;
   }
}

/* download button */
#download-button-thunderbird {
    padding: 60px 0 0;
    margin: 0;
    position: relative;
}
#download-button-thunderbird small.download-other {
    text-align: right;
    margin-left: 40px;
}
#download-button-thunderbird .download-link,
#download-button-thunderbird small.download-other {
    width: 240px;
}
#download-button-thunderbird .download-content {
    padding: 15px 20px 15px 65px;
    background-position: 20px 24px;
}
#download-button-thunderbird .download-title {
    display:none;
}
#download-button-thunderbird .download-subtitle {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.05em;
    position: static;
    width: auto;
    text-align: left;
}
#download-button-thunderbird .download-lang,
#download-button-thunderbird .download-platform {
    font-family: 'Open Sans Light', sans-serif;
    font-weight: normal;
    color: #360;
    display: inline;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 0 1px #9c6;
}
#download-button-thunderbird .download-lang {
    position: static;
    text-align: left;
    width: auto;
}
#download-button-thunderbird .download-platform:before {
    content: '• ';
}
