/*
  The original LiteVision Theme for phpBB version 2+
  Created by MJR
  http://www.michaeljackson.ro
*/


 /* General page style. The scroll bar colours only visible in IE5.5+ */
body {
	background-color: #FFFFFF;
	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #006699;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
}
img {
	border: 0px;
}

/* General font families for common tags */
font,th,td,p { font-family: Verdana, Arial, Helvetica, sans-serif }
a:link,a:active,a:visited { color : #006699; }
a:hover		{ text-decoration: none; color : #DD6900; }
hr	{ height: 0px; border: solid #D1D7DC 0px; border-top-width: 1px;}


/* This is the outline round the main forum tables */
.forumline	{ background-color: #FFFFFF; border: 2px #006699 solid; }


/* Main table cell colours and backgrounds */
td.row1	{ background-color: #EFEFEF; }
td.row2	{ background-color: #DEE3E7; }
td.row3	{ background-color: #D1D7DC; }


/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/
td.rowpic {
		background-color: #FFFFFF;
		background-image: url(images/cellpic2.jpg);
		background-repeat: repeat-y;
}

/* Header cells - the blue and silver gradient backgrounds */
th	{
	color: #FFA34F; font-size: 13px; font-weight : bold;
	background-color: #006699; height: 25px;
	background-image: url(images/cellpic3.gif);
}

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
			background-image: url(images/cellpic1.gif);
			background-color:#D1D7DC; border: #FFFFFF; border-style: solid; height: 28px;
}


/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
td.cat,td.catHead,td.catBottom {
	height: 29px;
	border-width: 0px 0px 0px 0px;
}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
	font-weight: bold; border: #FFFFFF; border-style: solid; height: 28px; }
td.row3Right,td.spaceRow {
	background-color: #D1D7DC; border: #FFFFFF; border-style: solid; }

th.thHead,td.catHead { font-size: 15px; border-width: 1px 1px 0px 1px; }
th.thSides,td.catSides,td.spaceRow	 { border-width: 0px 1px 0px 1px; }
th.thRight,td.catRight,td.row3Right	 { border-width: 0px 1px 0px 0px; }
th.thLeft,td.catLeft	  { border-width: 0px 0px 0px 1px; }
th.thBottom,td.catBottom  { border-width: 0px 1px 1px 1px; }
th.thTop	 { border-width: 1px 0px 0px 0px; }
th.thCornerL { border-width: 1px 0px 0px 1px; }
th.thCornerR { border-width: 1px 1px 0px 0px; }


/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1,h2	{
			font-weight: bold; font-size: 22px; font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
			text-decoration: none; line-height : 120%; color : #000000;
}


/* General text */
.gen { font-size: 15px; }
.genmed { font-size: 13px; }
.gensmall { font-size: 12px; }
.gen,.genmed,.gensmall { color : #000000; }
a.gen,a.genmed,a.gensmall { color: #006699; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #DD6900; text-decoration: none; }


/* The register, login, search etc links at the top of the page */
.mainmenu		{ font-size: 13px; color : #000000 }
a.mainmenu		{ text-decoration: none; color : #999999;  }
a.mainmenu:hover{ text-decoration: none; color : #000099; }


/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 12px ; letter-spacing: 1px; color : #006699}
a.cattitle		{ text-decoration: none; color : #006699; }
a.cattitle:hover{ text-decoration: none; }


/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 14px; color : #006699; }
a.forumlink 	{ text-decoration: none; color : #006699; }
a.forumlink:hover	{ text-decoration: none; color : #DD6900; }


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: bold; font-size: 13px; color : #000000;}
a.nav			{ text-decoration: none; color : #006699; }
a.nav:hover		{ text-decoration: none; }


/* titles for the topics: could specify viewed link colour too */
.topictitle			{ font-weight: bold; font-size: 13px; color : #000000; }
a.topictitle:link   { text-decoration: none; color : #006699; }
a.topictitle:visited { text-decoration: none; color : #5493B4; }
a.topictitle:hover	{ text-decoration: none; color : #DD6900; }


/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			{ font-size: 13px; color : #000000;}

/* Location, number of posts, post date etc */
.postdetails		{ font-size: 12px; color : #000000; }


/* The content of the posts (body of text) */
.postbody { font-size : 15px; }
a.postlink:link	{ text-decoration: none; color : #006699 }
a.postlink:visited { text-decoration: none; color : #5493B4; }
a.postlink:hover { text-decoration: none; color : #DD6900}


/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif; font-size: 13px; color: #006600;
	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; color: #444444; line-height: 125%;
	background-color: #E1ECFB; border: #999999; border-style: dotted;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}


/* Copyright and bottom info */
.copyright		{ font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #444444; letter-spacing: -1px;}
a.copyright		{ color: #444444; text-decoration: none;}
a.copyright:hover { color: #000000; text-decoration: none;}


/* Form elements */
input,select {
	color : #000000;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	border-color : #000000;
}
textarea {
	color : #000000;
	font: normal 15px Verdana, Arial, Helvetica, sans-serif;
	border-color : #000000;
}

/* The text input fields background colour */
input.post, textarea.post, select {
	background-color : #FFFFFF;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
	background-color : #EFEFEF;
	color : #000000;
	font-size: 13px; font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* The main submit button option */
input.mainoption {
	background-color : #FAFAFA;
	font-weight : bold;
}

/* None-bold submit button */
input.liteoption {
	background-color : #FAFAFA;
	font-weight : normal;
}

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline { background-color: #DEE3E7; border-style: none; }


/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */
@import url("formIE.css");

/************************************************************************************************/
.border-negru-st-dr {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-left-color: #000000;
}
.border-header {
	background-image: url(images/header-back.gif);
	background-repeat: repeat-x;
	background-position: center center;
}
.stil01 {
	background-image: url(images/01.gif);
	background-repeat: repeat-x;
	background-position: center center;
}
.stil02 {
	background-image: url(images/02.gif);
	background-repeat: repeat-x;
	background-position: center center;
}
.stil03 {
	background-image: url(images/03.gif);
	background-repeat: repeat-x;
	background-position: center center;
}
.stil04 {
	background-image: url(images/04.gif);
	background-repeat: repeat-x;
	background-position: center center;
}
.border-maro-dr {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #BCBCBC;
}
.border-bleu-st-dr {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #81B7F3;
	border-left-color: #81B7F3;
}
.stil06 {
	background-image: url(images/06.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
}
.border-bleu-jos {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #81B7F3;
}
.border-maro-st-dr {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #BCBCBC;
	border-left-color: #BCBCBC;
}
.border-bleu-st {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #81B7F3;
}
.border-bleu-dr {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #81B7F3;
}
.border-bleu-st-dr-jos {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #81B7F3;
	border-bottom-color: #81B7F3;
	border-left-color: #81B7F3;
}
.stil07 {
	background-image: url(images/07.gif);
	background-repeat: repeat-y;
	background-position: right center;
}
.border-alb-dr {
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #81B7F3;
}
.border-bleu-sus {
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #81B7F3;
}
.border-maro-jos {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BCBCBC;
}
.border-alb {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}
.border-alb-top {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
}
.border-bleu {
	border: 1px solid #81B7F3;
}
.border-maro {
	border: 1px solid #EEEEEE;
}
.stil08 {
	background-image: url(images/08.gif);
	background-repeat: repeat-x;
	background-position: center top;
}
.cub {
	background-image:  url(images/05.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.form {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 14px;
text-decoration: none;
width: 150px;
background-color: #EAF1FC;
border: 1px solid #000000;
color: #000000;	
overflow: auto;
}

.form2 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 14px;
text-decoration: none;
background-color: #f8f8ff;
border: 1px solid #000000;
color: #000000;	
overflow: auto;
}

textarea.form2 {
font-size: 15px;
padding: 3px;
}

.form3 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
width: 80px;
background-color: #ffffff;
border: 1px solid #000000;
color: #000000;	
overflow: auto;
}

.form4 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
width: 50px;
background-color: #ffffff;
border: 1px solid #000000;
color: #000000;	
overflow: auto;
}
